In [1]:
import pandas as pd
import cx_Oracle

In [82]:
ip = '172.16.80.74'
port = '1521'
SID = 'RPTDB'

dsn_tns = cx_Oracle.makedsn(ip, port, SID)
connection = cx_Oracle.connect('ANLYUSR', 'ANLYUSR$', dsn_tns)

In [181]:
tab_name = ['TBL_TRN_MB_CIB_ACCOUNT_SEGMENT',
'TBL_TRN_MB_CIB_ADDRESSLIST',
'TBL_TRN_MB_CIB_EMPLOYMENT_SEG',
'TBL_TRN_MB_CIB_RESPONSE_SCORE',
'TBL_TRN_MB_CIB_PHONELIST',
'TBL_TRN_MB_CIB_ID_SEGMENT',
'TBL_TRN_MB_CIB_ENQUIRYLIST',
'TBL_TRN_MB_CIB_NAMEHEADER',
'TBL_TRN_MB_CIB_ACCOUNTS_DETAIL',
'TBL_TRN_MB_HIGH_ACCOUNTSUMMARY',
'TBL_TRN_MB_HIGH_INDVRESPONSE',
'TBL_TRN_MB_HIGH_INDVRESP_ADDR',
'TBL_TRN_MB_HIGH_INDVRESP_ID',
'TBL_TRN_MB_HIGH_INDVRESP_PHONE',
'TBL_TRN_MB_HIGH_REQUEST',
'TBL_TRN_MB_HIGH_SCORE',
'TBL_TRN_CV_METADATA',
'TBL_TRN_CV_LOCATIONPROFILE',
'TBL_TRN_CV_CREDITCARDACCOUNT',
'TBL_TRN_CV_LOANACCOUNT',
'TBL_TRN_CV_LOANS',
'TBL_TRN_CV_CREDITSCORE_FRAUD',
'TBL_TRN_CV_BANKACCOUNT',
'TBL_TRN_CV_EMAILIDS',
'TBL_TRN_CV_INCOME',
'TBL_TRN_CV_ALTERNATECONTACT',
'TBL_TRN_CV_ACCOUNTS',
'TBL_TRN_CV_UTILITYACCOUNT',
'TBL_TRN_CV_CREDITCARD',
'TBL_TRN_MST_CV_DETAILS']

query = "SELECT COLUMN_NAME FROM all_tab_columns \
where OWNER = 'BIUSR' AND TABLE_NAME = {} ".format("'"+tab_name[0]+"'")

data = pd.read_sql(query, con=connection)

unique_col = []

for i in data.COLUMN_NAME.values:
    unique_col.append(i)

In [184]:
flag1 = True
for i in tab_name:
    
    query = "SELECT COLUMN_NAME FROM all_tab_columns \
    where OWNER = 'BIUSR' AND TABLE_NAME = {} ".format("'"+i+"'")
    
    columns_DF = pd.read_sql(query, con=connection)

    flag2 = True
    
    if '_CV_' in i: 
        for j in columns_DF.COLUMN_NAME.values:
        
            query1 = "SELECT tb1.status as Identifiers,count(tb1.status) as NULL_count from \
            (SELECT DECODE({},'null','is_null',null,'is_null','not_null')  as status FROM BIUSR.{} WHERE PROPNO like '%CD%') tb1 \
            group by tb1.status".format(j,i)
    
            result = pd.read_sql(query1, con=connection)
    
            result['Column_Name'] = j
            result['Table_Name'] = i
    
            if flag2:
                final_result = result
                flag2 = False
            else:
                final_result = pd.concat([final_result,result])
    else:
        for k in columns_DF.COLUMN_NAME.values:
        
            query1 = "SELECT tb1.status as Identifiers,count(tb1.status) as NULL_count from \
            (SELECT DECODE({},'null','is_null',null,'is_null','not_null')  as status FROM BIUSR.{} WHERE PROSPECT_NO like '%CD%') tb1 \
            group by tb1.status".format(k,i)
    
            result = pd.read_sql(query1, con=connection)
    
            result['Column_Name'] = k
            result['Table_Name'] = i
    
            if flag2:
                final_result = result
                flag2 = False
            else:
                final_result = pd.concat([final_result,result])
        
    if flag1:
        consol_list = final_result
        flag1 = False
    else:
        consol_list = pd.concat([consol_list,final_result])

In [189]:
consol_list

,IDENTIFIERS,NULL_COUNT,Column_Name,Table_Name
0,not_null,1613661,PROSPECT_NO,TBL_TRN_MB_CIB_ACCOUNT_SEGMENT
0,not_null,1613661,SEQ_ACCOUNT_NO,TBL_TRN_MB_CIB_ACCOUNT_SEGMENT
0,not_null,1613661,REPORTING_MEMBER_SHORTNAME,TBL_TRN_MB_CIB_ACCOUNT_SEGMENT
0,is_null,1613661,ACCOUNT_NUMBER,TBL_TRN_MB_CIB_ACCOUNT_SEGMENT
0,not_null,1613661,ACCOUNT_TYPE,TBL_TRN_MB_CIB_ACCOUNT_SEGMENT
0,not_null,1613661,OWNERSHIP_INDICATOR,TBL_TRN_MB_CIB_ACCOUNT_SEGMENT
0,is_null,4572,DATE_OPEN_DISBURSED,TBL_TRN_MB_CIB_ACCOUNT_SEGMENT
1,not_null,1609089,DATE_OPEN_DISBURSED,TBL_TRN_MB_CIB_ACCOUNT_SEGMENT
0,is_null,398986,DATE_LASTPAYMENT,TBL_TRN_MB_CIB_ACCOUNT_SEGMENT
1,not_null,1214675,DATE_LASTPAYMENT,TBL_TRN_MB_CIB_ACCOUNT_SEGMENT
0,is_null,692269,DATE_CLOSED,TBL_TRN_MB_CIB_ACCOUNT_SEGMENT
1,not_null,921392,DATE_CLOSED,TBL_TRN_MB_CIB_ACCOUNT_SEGMENT
0,not_null,1613661,DATE_REPORTED_AND_CERTIFIED,TBL_TRN_MB_CIB_ACCOUNT_SEGMENT
0,is_null,21032,HIGH_CREDIT_SANCTIONED_AMOUNT,TBL_TRN_MB_CIB_ACCOUNT_SEGMENT
1,not_null,1592629,HIGH_CREDIT_SANCTIONED_AMOUNT,TBL_TRN_MB_CIB_ACCOUNT_SEGMENT
0,not_null,1613661,CURRENT_BALANCE,TBL_TRN_MB_CIB_ACCOUNT_SEGMENT
0,is_null,1613661,OVERDUE_AMOUNT,TBL_TRN_MB_CIB_ACCOUNT_SEGMENT
0,not_null,1613661,PAYMENT_HISTORY1,TBL_TRN_MB_CIB_ACCOUNT_SEGMENT
0,is_null,1250348,PAYMENT_HISTORY2,TBL_TRN_MB_CIB_ACCOUNT_SEGMENT
1,not_null,363313,PAYMENT_HISTORY2,TBL_TRN_MB_CIB_ACCOUNT_SEGMENT
0,not_null,1613661,PAYMENT_HISTORY_STARTDATE,TBL_TRN_MB_CIB_ACCOUNT_SEGMENT
0,not_null,1613661,PAYMENT_HISTORY_ENDDATE,TBL_TRN_MB_CIB_ACCOUNT_SEGMENT
0,is_null,1613661,SUIT_FILED_WILFUL_DEFAULT,TBL_TRN_MB_CIB_ACCOUNT_SEGMENT
0,is_null,1613661,WRITTEN_OFF_SETTLED_STATUS,TBL_TRN_MB_CIB_ACCOUNT_SEGMENT
0,is_null,1613661,VALUE_OF_COLLATERAL,TBL_TRN_MB_CIB_ACCOUNT_SEGMENT
0,is_null,1613661,TYPE_OF_COLLATERAL,TBL_TRN_MB_CIB_ACCOUNT_SEGMENT
0,is_null,1613661,CREDIT_LIMIT,TBL_TRN_MB_CIB_ACCOUNT_SEGMENT
0,is_null,1613661,CASH_LIMIT,TBL_TRN_MB_CIB_ACCOUNT_SEGMENT
0,is_null,1613661,REPAYMENT_TENURE,TBL_TRN_MB_CIB_ACCOUNT_SEGMENT
0,is_null,1613661,EMI_AMOUNT,TBL_TRN_MB_CIB_ACCOUNT_SEGMENT
...,...,...,...,...
0,not_null,286642,COUNTOFDISTINCTAPPCATEGORIES,TBL_TRN_CV_UTILITYACCOUNT
0,not_null,286642,COUNTOFSOCIALAPPS,TBL_TRN_CV_UTILITYACCOUNT
0,not_null,286642,COUNTOFFINANCIALAPPS,TBL_TRN_CV_UTILITYACCOUNT
0,not_null,286642,COUNTOFFITNESSAPPS,TBL_TRN_CV_UTILITYACCOUNT
0,not_null,286642,COUNTOFSHOPPINGAPPS,TBL_TRN_CV_UTILITYACCOUNT
0,not_null,286642,COUNTOFWALLETAPPS,TBL_TRN_CV_UTILITYACCOUNT
0,not_null,286642,DEVICENAME,TBL_TRN_CV_UTILITYACCOUNT
0,not_null,286642,DEVICEPRICE,TBL_TRN_CV_UTILITYACCOUNT
0,not_null,286642,CREATED_DATE,TBL_TRN_CV_UTILITYACCOUNT
0,not_null,15048,PROPNO,TBL_TRN_CV_CREDITCARD
0,not_null,15048,MOBILE,TBL_TRN_CV_CREDITCARD
0,not_null,15048,SR_NO,TBL_TRN_CV_CREDITCARD
0,not_null,15048,CARD_NO,TBL_TRN_CV_CREDITCARD
0,not_null,15048,ISSUERNAME,TBL_TRN_CV_CREDITCARD
0,not_null,15048,CREDITLIMIT,TBL_TRN_CV_CREDITCARD
0,not_null,15048,MAXCREDITUTILIZATION,TBL_TRN_CV_CREDITCARD
0,not_null,15048,TOTALCCTRAXNAMOUNTMONTHYEAR0,TBL_TRN_CV_CREDITCARD
0,not_null,15048,TOTALCCTRAXNAMOUNTMONTHYEAR1,TBL_TRN_CV_CREDITCARD
0,not_null,15048,TOTALCCTRAXNAMOUNTMONTHYEAR2,TBL_TRN_CV_CREDITCARD
0,not_null,15048,TOTALCCPAYMENTMONTHYEAR0,TBL_TRN_CV_CREDITCARD
0,not_null,15048,TOTALCCPAYMENTMONTHYEAR1,TBL_TRN_CV_CREDITCARD
0,not_null,15048,TOTALCCPAYMENTMONTHYEAR2,TBL_TRN_CV_CREDITCARD
0,not_null,15048,COUNTOVERDUELAST3MONTHS,TBL_TRN_CV_CREDITCARD
0,not_null,15048,COUNTOVERDUEEVER,TBL_TRN_CV_CREDITCARD
0,not_null,15048,LATESTCCDUEDATE,TBL_TRN_CV_CREDITCARD
0,not_null,15048,CREATED_DATE,TBL_TRN_CV_CREDITCARD
0,not_null,296979,PROPNO,TBL_TRN_MST_CV_DETAILS
0,not_null,296979,SR_NO,TBL_TRN_MST_CV_DETAILS
0,not_null,296979,MOBILE_NO,TBL_TRN_MST_CV_DETAILS
0,not_null,296979,CREATED_DATE,TBL_TRN_MST_CV_DETAILS

In [197]:
dataset = consol_list

In [198]:
dataset['NULL_COUNT'] = dataset.NULL_COUNT.astype(int)

In [201]:
data_test = pd.pivot_table(dataset, values = 'NULL_COUNT',
               index=['Table_Name','Column_Name'],
               columns = 'IDENTIFIERS').reset_index().fillna(0)

In [202]:
data_test = pd.DataFrame(data_test.to_records())[['Table_Name','Column_Name','is_null','not_null']]

In [203]:
data_test['Total_Records'] = data_test['is_null']+data_test['not_null']

In [204]:
def cal_null_perc(row):
    try:
        return round((row['is_null']/row['Total_Records'])*100,2)
    except:
        return 0.0

In [205]:
data_test['null_percentage'] = data_test.apply(cal_null_perc, axis = 1)

In [206]:
data_test

,Table_Name,Column_Name,is_null,not_null,Total_Records,null_percentage
0,TBL_TRN_CV_ACCOUNTS,ACCOUNT_CNT,0.0,187323.0,187323.0,0.00
1,TBL_TRN_CV_ACCOUNTS,AMBMONTH0,0.0,187323.0,187323.0,0.00
2,TBL_TRN_CV_ACCOUNTS,AMBMONTH1,0.0,187323.0,187323.0,0.00
3,TBL_TRN_CV_ACCOUNTS,AMBMONTH2,0.0,187323.0,187323.0,0.00
4,TBL_TRN_CV_ACCOUNTS,BANKNAME,0.0,187323.0,187323.0,0.00
5,TBL_TRN_CV_ACCOUNTS,CREATED_DATE,0.0,187323.0,187323.0,0.00
6,TBL_TRN_CV_ACCOUNTS,CREDITMONTH0,0.0,187323.0,187323.0,0.00
7,TBL_TRN_CV_ACCOUNTS,CREDITMONTH1,0.0,187323.0,187323.0,0.00
8,TBL_TRN_CV_ACCOUNTS,CREDITMONTH2,0.0,187323.0,187323.0,0.00
9,TBL_TRN_CV_ACCOUNTS,DEBITMONTH0,0.0,187323.0,187323.0,0.00
10,TBL_TRN_CV_ACCOUNTS,DEBITMONTH1,0.0,187323.0,187323.0,0.00
11,TBL_TRN_CV_ACCOUNTS,DEBITMONTH2,0.0,187323.0,187323.0,0.00
12,TBL_TRN_CV_ACCOUNTS,LATESTBALANCE,0.0,187323.0,187323.0,0.00
13,TBL_TRN_CV_ACCOUNTS,MOBILE,0.0,187323.0,187323.0,0.00
14,TBL_TRN_CV_ACCOUNTS,PROPNO,0.0,187323.0,187323.0,0.00
15,TBL_TRN_CV_ACCOUNTS,SR_NO,0.0,187323.0,187323.0,0.00
16,TBL_TRN_CV_ACCOUNTS,VOLATILITYBALANCE,0.0,187323.0,187323.0,0.00
17,TBL_TRN_CV_ACCOUNTS,VOLATILITYCREDIT,0.0,187323.0,187323.0,0.00
18,TBL_TRN_CV_ACCOUNTS,VOLATILITYDEBIT,0.0,187323.0,187323.0,0.00
19,TBL_TRN_CV_ALTERNATECONTACT,CREATED_DATE,0.0,281396.0,281396.0,0.00
20,TBL_TRN_CV_ALTERNATECONTACT,FREQCONTACT1,129310.0,152086.0,281396.0,45.95
21,TBL_TRN_CV_ALTERNATECONTACT,FREQCONTACT2,139038.0,142358.0,281396.0,49.41
22,TBL_TRN_CV_ALTERNATECONTACT,FREQCONTACT3,143865.0,137531.0,281396.0,51.13
23,TBL_TRN_CV_ALTERNATECONTACT,FREQFAMILYCONTACT,215401.0,65995.0,281396.0,76.55
24,TBL_TRN_CV_ALTERNATECONTACT,MOBILE,0.0,281396.0,281396.0,0.00
25,TBL_TRN_CV_ALTERNATECONTACT,PROPNO,0.0,281396.0,281396.0,0.00
26,TBL_TRN_CV_ALTERNATECONTACT,REGULARLYCALLEDCONTACT1,137921.0,143475.0,281396.0,49.01
27,TBL_TRN_CV_ALTERNATECONTACT,REGULARLYCALLEDCONTACT2,157728.0,123668.0,281396.0,56.05
28,TBL_TRN_CV_ALTERNATECONTACT,REGULARLYCALLEDCONTACT3,167209.0,114187.0,281396.0,59.42
29,TBL_TRN_CV_ALTERNATECONTACT,SR_NO,0.0,281396.0,281396.0,0.00
...,...,...,...,...,...,...
449,TBL_TRN_MB_HIGH_REQUEST,CREDITREQUESTTYPE,334501.0,294797.0,629298.0,53.15
450,TBL_TRN_MB_HIGH_REQUEST,EMAIL1,629298.0,0.0,629298.0,100.00
451,TBL_TRN_MB_HIGH_REQUEST,FATHER,629298.0,0.0,629298.0,100.00
452,TBL_TRN_MB_HIGH_REQUEST,KENDRA,629298.0,0.0,629298.0,100.00
453,TBL_TRN_MB_HIGH_REQUEST,LOANAMOUNT,334501.0,294797.0,629298.0,53.15
454,TBL_TRN_MB_HIGH_REQUEST,LOSAPPLICATIONID,334501.0,294797.0,629298.0,53.15
455,TBL_TRN_MB_HIGH_REQUEST,MEMBERID,334502.0,294796.0,629298.0,53.15
456,TBL_TRN_MB_HIGH_REQUEST,MFIGROUP,334501.0,294797.0,629298.0,53.15
457,TBL_TRN_MB_HIGH_REQUEST,MFIIND,334501.0,294797.0,629298.0,53.15
458,TBL_TRN_MB_HIGH_REQUEST,MFISCORE,334501.0,294797.0,629298.0,53.15
459,TBL_TRN_MB_HIGH_REQUEST,NAME,334501.0,294797.0,629298.0,53.15
460,TBL_TRN_MB_HIGH_REQUEST,PROSPECT_NO,0.0,629298.0,629298.0,0.00
461,TBL_TRN_MB_HIGH_REQUEST,REQ_DOB,629298.0,0.0,629298.0,100.00
462,TBL_TRN_MB_HIGH_REQUEST,REQ_GENDER,334501.0,294797.0,629298.0,53.15
463,TBL_TRN_MB_HIGH_REQUEST,SR_NO,629298.0,0.0,629298.0,100.00
464,TBL_TRN_MB_HIGH_REQUEST,TRACKING_ID,0.0,629298.0,629298.0,0.00
465,TBL_TRN_MB_HIGH_REQUEST,UPDATED_DATE,0.0,629298.0,629298.0,0.00
466,TBL_TRN_MB_HIGH_SCORE,ACK_ID,629298.0,0.0,629298.0,100.00
467,TBL_TRN_MB_HIGH_SCORE,CREATED_DATE,0.0,629298.0,629298.0,0.00
468,TBL_TRN_MB_HIGH_SCORE,HIGH_SCORECOMMENTS,629298.0,0.0,629298.0,100.00
469,TBL_TRN_MB_HIGH_SCORE,HIGH_SCORETYPE,629298.0,0.0,629298.0,100.00
470,TBL_TRN_MB_HIGH_SCORE,HIGH_SCOREVALUE,227948.0,401350.0,629298.0,36.22
471,TBL_TRN_MB_HIGH_SCORE,PROSPECT_NO,0.0,629298.0,629298.0,0.00
472,TBL_TRN_MB_HIGH_SCORE,SR_NO,629298.0,0.0,629298.0,100.00
473,TBL_TRN_MB_HIGH_SCORE,TRACKING_ID,0.0,629298.0,629298.0,0.00
474,TBL_TRN_MB_HIGH_SCORE,UPDATED_DATE,629298.0,0.0,629298.0,100.00
475,TBL_TRN_MST_CV_DETAILS,CREATED_DATE,0.0,296979.0,296979.0,0.00
476,TBL_TRN_MST_CV_DETAILS,MOBILE_NO,0.0,296979.0,296979.0,0.00
477,TBL_TRN_MST_CV_DETAILS,PROPNO,0.0,296979.0,296979.0,0.00
478,TBL_TRN_MST_CV_DETAILS,SR_NO,0.0,296979.0,296979.0,0.00

In [207]:
data_test.to_csv("D:\CD\CD_MB_CIBIL_CRIF_CV_AUdit.csv")