In [1]:
!pip install fuzzywuzzy

Collecting fuzzywuzzy
  Downloading https://files.pythonhosted.org/packages/d8/f1/5a267addb30ab7eaa1beab2b9323073815da4551076554ecc890a3595ec9/fuzzywuzzy-0.17.0-py2.py3-none-any.whl
Installing collected packages: fuzzywuzzy
Successfully installed fuzzywuzzy-0.17.0

In [3]:
from fuzzywuzzy import fuzz

C:\Users\5029874\AppData\Local\Continuum\anaconda3\envs\trainingenv\lib\site-packages\fuzzywuzzy\fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [8]:
Str1 = "LATI  TOT NAGARAL TQ CHIKODI LATI  TOT NAGARAL TQ CHIKODI  BELGAUM 591247"
Str2 = "MAIN ROAD NAGARAL TQ CHIKODI MAIN ROAD NAGARAL TQ CHIKODI MAIN ROAD NAGARAL TQ CHIKODI BELGAUM"
Ratio = fuzz.ratio(Str1.lower(),Str2.lower())
Partial_Ratio = fuzz.partial_ratio(Str1.lower(),Str2.lower())
print(Ratio)
print(Partial_Ratio)

67
79

In [4]:
import pandas as pd

In [5]:
data = pd.read_csv("E:\Cons_Dur_Address_Match_Input.csv")

In [6]:
data.head()

,AGMTNO,TVSCS_ADDRESS,CIBIL_ADDRESS
0,TN3006CD0002168,"202-10 ,KAVUNDANPATTI PALLAPATTI NILAKKOTTAI D...",MADURAI
1,TN3006CD0002168,"202-10 ,KAVUNDANPATTI PALLAPATTI NILAKKOTTAI D...","PITHALAIPATTY,DINDIGUL, BEGAMPUR S.O (DINDIGUL)"
2,TN3006CD0002168,"202-10 ,KAVUNDANPATTI PALLAPATTI NILAKKOTTAI D...","202-10 ,KAVUNDANPATTI, PALLAPATTI NILAKKOTTAI ..."
3,MH3085CD0007300,BHOSGA DASTAPUR 413602 BHOSGA DASTAPUR 413602 ...,BHOSGA DASTAPUR 413602 BHOSGA DASTAPUR 413602 ...
4,MH3085CD0007300,BHOSGA DASTAPUR 413602 BHOSGA DASTAPUR 413602 ...,NaN

In [16]:
from string import digits

s = 'abc123def456ghi789zero0'
remove_digits = str.maketrans('', '', digits)
res = s.translate(remove_digits)

In [9]:
def ratio(row):
    St1= str(row['TVSCS_ADDRESS'])
    St2 = str(row['CIBIL_ADDRESS'])
    #remove_digits = str.maketrans('', '', digits)
    #Str1 = St1.translate(remove_digits)
    #Str2 = St2.translate(remove_digits)
    return fuzz.ratio(St1.lower(),St2.lower())

In [10]:
data['sim_perc'] = data.apply(ratio, axis=1)

In [11]:
data.to_excel("E:\Cons_Dur_Address_Match_Input_lower_with_perc.xlsx", index=False)