In [1]:
import pandas as pd
import cx_Oracle

In [12]:
ip = '172.16.80.74'
port = '1521'
SID = 'RPTDB'

dsn_tns = cx_Oracle.makedsn(ip, port, SID)
connection = cx_Oracle.connect('ANLYUSR', 'ANLYUSR$', dsn_tns)

In [54]:
query = "SELECT tb1.STATE,tb1.PINCODE,tb1.PORTFOLIO,tb1.STATUS, COUNT(1) as STATUS_COUNT \
FROM TBL_TRN_CUSTOMER_DETAILS tb1 \
WHERE tb1.PORTFOLIO in ('TW','CD') \
AND tb1.STATUS in ('M','L') \
AND tb1.STATE in ('TN','AP','KA','MH','WB') \
AND tb1.PINCODE in (SELECT * FROM CODES_NEW) \
GROUP BY tb1.STATE,tb1.PINCODE,tb1.PORTFOLIO,tb1.STATUS"

In [55]:
Data = pd.read_sql(query, con=connection, chunksize=1000)

In [56]:
data = pd.concat([chunk for chunk in Data])

In [57]:
data.head()

  STATE PINCODE PORTFOLIO STATUS  STATUS_COUNT
0    MH  413514        TW      L            53
1    TN  628552        TW      L           214
2    TN  628908        TW      L            34
3    TN  629176        TW      L           103
4    TN  600068        TW      M           197

In [58]:
totalCount = data.groupby(['PINCODE','PORTFOLIO']).agg({'STATUS_COUNT':'sum'}).reset_index()

In [59]:
totalCount.head()

  PINCODE PORTFOLIO  STATUS_COUNT
0  400015        TW             9
1  400024        TW             9
2  400027        TW             5
3  400029        TW             1
4  400042        CD             1

In [60]:
data_v1 = pd.merge(data,totalCount, on=['PINCODE','PORTFOLIO'], how='left')

In [61]:
data_v1.rename(columns={'STATUS_COUNT_y':'TOTAL_COUNT'}, inplace=True)

In [62]:
data_v1

      STATE PINCODE PORTFOLIO STATUS  STATUS_COUNT_x  TOTAL_COUNT
0        MH  413514        TW      L              53           76
1        TN  628552        TW      L             214          529
2        TN  628908        TW      L              34           85
3        TN  629176        TW      L             103          281
4        TN  600068        TW      M             197          554
5        TN  604202        TW      L             216          382
6        TN  638501        TW      M             301          602
7        TN  636902        TW      L             141          283
8        TN  627756        TW      M             709         1249
9        AP  515004        TW      M             390          796
10       KA  573128        TW      L              95          126
11       MH  414111        TW      L             340          585
12       MH  431105        TW      L             250          344
13       TN  641663        TW      M              89          311
14       TN  635205        TW      M             300          535
15       TN  614202        TW      L             148          313
16       TN  605801        TW      M             161          368
17       TN  605652        TW      M             442         1098
18       TN  604151        TW      M              96          192
19       TN  608602        TW      M             350          673
20       TN  607807        TW      M              89          310
21       AP  506003        TW      L             468          704
22       TN  641027        TW      M             361          650
23       TN  641031        TW      M             168          287
24       TN  600126        TW      L             303          623
25       TN  614019        TW      M             436          754
26       TN  621216        TW      M             299          516
27       TN  614620        TW      M             146          256
28       TN  621116        TW      M              90          191
29       TN  621708        TW      M             399          662
...     ...     ...       ...    ...             ...          ...
23240    KA  584138        CD      L               5            5
23241    KA  581342        CD      L               8            8
23242    WB  723168        CD      L               1            1
23243    AP  524342        CD      L               2            2
23244    KA  581308        CD      L               2            2
23245    MH  415527        CD      L               4            4
23246    KA  574225        CD      L               2            3
23247    MH  416314        CD      L               3            3
23248    KA  577411        CD      L               4            4
23249    TN  628614        CD      L               1            3
23250    KA  574113        CD      L               1            1
23251    AP  523168        CD      M               1            8
23252    MH  445201        CD      M               1           24
23253    TN  609312        CD      M               1            7
23254    AP  532443        CD      M               1           24
23255    KA  500086        TW      M               1          135
23256    WB  722147        CD      L               2            3
23257    AP  505330        CD      L               1            1
23258    MH  416309        CD      L               1            1
23259    AP  516152        TW      L               1            1
23260    TN  622505        CD      L               2            3
23261    MH  416812        CD      L               1            1
23262    AP  503188        CD      L               1            1
23263    AP  523112        CD      L               1            1
23264    TN  635703        CD      L               1            2
23265    MH  415611        CD      L               2            2
23266    AP  524236        CD      L               1            1
23267    TN  627420        CD      L               1            1
23268    MH  415504        CD      L               1            1
23269    KA  583215        CD      L               1            2

[23270 rows x 6 columns]

In [63]:
data_v1.to_csv("D:\PERCENTAGE_ML_CD_TW_Newset.csv", index=False)

query_list = ["SELECT count(1) FROM BIUSR.TBL_TRN_MB_CIB_ACCOUNT_SEGMENT WHERE TRACKING_ID = 'CD'\
AND PROSPECT_NO = {}"]

for i in Data.PROPNO.values:
    
    for j in query_list:
        cur = connection.cursor()
        cur.prepare(j.format(':pros'))
        cur.execute(None, pros = i)
        res = cur.fetchall()
        print(res)