In [1]:
import pandas as pd
import cx_Oracle
import pickle

In [2]:
ip = '172.16.80.74'
port = '1521'
SID = 'RPTDB'

dsn_tns = cx_Oracle.makedsn(ip, port, SID)
connection = cx_Oracle.connect('ANLYUSR', 'ANLYUSR$', dsn_tns)

In [3]:
CV = ['TBL_TRN_CV_METADATA',
'TBL_TRN_CV_LOCATIONPROFILE',
'TBL_TRN_CV_CREDITCARDACCOUNT',
'TBL_TRN_CV_LOANACCOUNT',
'TBL_TRN_CV_LOANS',
'TBL_TRN_CV_CREDITSCORE_FRAUD',
'TBL_TRN_CV_BANKACCOUNT',
'TBL_TRN_CV_EMAILIDS',
'TBL_TRN_CV_INCOME',
'TBL_TRN_CV_ALTERNATECONTACT',
'TBL_TRN_CV_ACCOUNTS',
'TBL_TRN_CV_UTILITYACCOUNT',
'TBL_TRN_CV_CREDITCARD',
'TBL_TRN_MST_CV_DETAILS']

In [4]:
for i in CV:
    query = "SELECT TB3.PROPNO,sum(status) as {} \
    FROM \
    (SELECT TB1.PROPNO,decode(TB2.PROPNO,NULL,0,1) as status \
    FROM \
    (SELECT PROPNO \
    FROM TBL_TRN_CUSTOMER_DETAILS CUS \
    WHERE CUS.AGMT_DATE > TO_DATE('31-OCT-18', 'DD-MON-YY') \
    AND CUS.PORTFOLIO='CD') TB1 LEFT OUTER JOIN \
    (SELECT PROPNO FROM BIUSR.{} \
    WHERE CREATED_DATE > TO_DATE('31-OCT-18', 'DD-MON-YY') \
    AND SUBSTR(PROPNO,5,2) = 'CD') TB2 \
    ON TB1.PROPNO = TB2.PROPNO) TB3 \
    GROUP BY TB3.PROPNO".format(i,i)

    Data = pd.read_sql(query, con=connection, chunksize=10000)
    
    data = pd.concat([chunk for chunk in Data])
    
    if i == 'TBL_TRN_CV_METADATA':
        DF_TBL_TRN_CV_METADATA = data
    elif i == 'TBL_TRN_CV_LOCATIONPROFILE':
        DF_TBL_TRN_CV_LOCATIONPROFILE = data
    elif i == 'TBL_TRN_CV_CREDITCARDACCOUNT':
        DF_TBL_TRN_CV_CREDITCARDACCOUNT = data
    elif i == 'TBL_TRN_CV_LOANACCOUNT':
        DF_TBL_TRN_CV_LOANACCOUNT = data
    elif i == 'TBL_TRN_CV_LOANS':
        DF_TBL_TRN_CV_LOANS = data
    elif i == 'TBL_TRN_CV_CREDITSCORE_FRAUD':
        DF_TBL_TRN_CV_CREDITSCORE_FRAUD = data
    elif i == 'TBL_TRN_CV_BANKACCOUNT':
        DF_TBL_TRN_CV_BANKACCOUNT = data
    elif i == 'TBL_TRN_CV_EMAILIDS':
        DF_TBL_TRN_CV_EMAILIDS = data
    elif i == 'TBL_TRN_CV_INCOME':
        DF_TBL_TRN_CV_INCOME = data
    elif i == 'TBL_TRN_CV_ALTERNATECONTACT':
        DF_TBL_TRN_CV_ALTERNATECONTACT = data
    elif i == 'TBL_TRN_CV_ACCOUNTS':
        DF_TBL_TRN_CV_ACCOUNTS = data
    elif i == 'TBL_TRN_CV_UTILITYACCOUNT':
        DF_TBL_TRN_CV_UTILITYACCOUNT = data
    elif i == 'TBL_TRN_CV_CREDITCARD':
        DF_TBL_TRN_CV_CREDITCARD = data
    elif i == 'TBL_TRN_MST_CV_DETAILS':
        DF_TBL_TRN_MST_CV_DETAILS = data
    print("---------------------------"+i+"----DONE-------------------")

---------------------------TBL_TRN_CV_METADATA----DONE-------------------
---------------------------TBL_TRN_CV_LOCATIONPROFILE----DONE-------------------
---------------------------TBL_TRN_CV_CREDITCARDACCOUNT----DONE-------------------
---------------------------TBL_TRN_CV_LOANACCOUNT----DONE-------------------
---------------------------TBL_TRN_CV_LOANS----DONE-------------------
---------------------------TBL_TRN_CV_CREDITSCORE_FRAUD----DONE-------------------
---------------------------TBL_TRN_CV_BANKACCOUNT----DONE-------------------
---------------------------TBL_TRN_CV_EMAILIDS----DONE-------------------
---------------------------TBL_TRN_CV_INCOME----DONE-------------------
---------------------------TBL_TRN_CV_ALTERNATECONTACT----DONE-------------------
---------------------------TBL_TRN_CV_ACCOUNTS----DONE-------------------
---------------------------TBL_TRN_CV_UTILITYACCOUNT----DONE-------------------
---------------------------TBL_TRN_CV_CREDITCARD----DONE-------------------
---------------------------TBL_TRN_MST_CV_DETAILS----DONE-------------------

In [5]:
DF_Data = pd.merge(DF_TBL_TRN_CV_METADATA, DF_TBL_TRN_CV_LOCATIONPROFILE, on='PROPNO', how='inner')

In [6]:
DF_Data = pd.merge(DF_Data, DF_TBL_TRN_CV_CREDITCARDACCOUNT, on='PROPNO', how='inner')

In [7]:
DF_Data = pd.merge(DF_Data, DF_TBL_TRN_CV_LOANACCOUNT, on='PROPNO', how='inner')

In [8]:
DF_Data = pd.merge(DF_Data, DF_TBL_TRN_CV_LOANS, on='PROPNO', how='inner')

In [9]:
DF_Data = pd.merge(DF_Data, DF_TBL_TRN_CV_CREDITSCORE_FRAUD, on='PROPNO', how='inner')

In [10]:
DF_Data = pd.merge(DF_Data, DF_TBL_TRN_CV_BANKACCOUNT, on='PROPNO', how='inner')

In [11]:
DF_Data = pd.merge(DF_Data, DF_TBL_TRN_CV_EMAILIDS, on='PROPNO', how='inner')

In [12]:
DF_Data = pd.merge(DF_Data, DF_TBL_TRN_CV_INCOME, on='PROPNO', how='inner')

In [13]:
DF_Data = pd.merge(DF_Data, DF_TBL_TRN_CV_ALTERNATECONTACT, on='PROPNO', how='inner')

In [14]:
DF_Data = pd.merge(DF_Data, DF_TBL_TRN_CV_ACCOUNTS, on='PROPNO', how='inner')

In [15]:
DF_Data = pd.merge(DF_Data, DF_TBL_TRN_CV_UTILITYACCOUNT, on='PROPNO', how='inner')

In [16]:
DF_Data = pd.merge(DF_Data, DF_TBL_TRN_CV_CREDITCARD, on='PROPNO', how='inner')

In [17]:
DF_Data = pd.merge(DF_Data, DF_TBL_TRN_MST_CV_DETAILS, on='PROPNO', how='inner')

In [18]:
DF_Data.head()

,PROPNO,TBL_TRN_CV_METADATA,TBL_TRN_CV_LOCATIONPROFILE,TBL_TRN_CV_CREDITCARDACCOUNT,TBL_TRN_CV_LOANACCOUNT,TBL_TRN_CV_LOANS,TBL_TRN_CV_CREDITSCORE_FRAUD,TBL_TRN_CV_BANKACCOUNT,TBL_TRN_CV_EMAILIDS,TBL_TRN_CV_INCOME,TBL_TRN_CV_ALTERNATECONTACT,TBL_TRN_CV_ACCOUNTS,TBL_TRN_CV_UTILITYACCOUNT,TBL_TRN_CV_CREDITCARD,TBL_TRN_MST_CV_DETAILS
0,3000CD0043323,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,3000CD0048516,1,1,1,1,0,1,1,1,1,1,0,1,0,1
2,3000CD0049443,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,3000CD0049455,1,1,1,1,0,1,1,0,1,1,0,1,0,1
4,3000CD0049677,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [19]:
DF_Data.to_csv("D:\CD\CD_MB_CV_6_months.csv")