In [111]:
import pandas as pd 
import numpy as np
airdata = pd.read_csv("datasets/datasets/airquality.csv")

In [3]:
airdata.head()

   Unnamed: 0  Ozone  Solar.R  Wind  Temp  Month  Day
0           1   41.0    190.0   7.4    67      5    1
1           2   36.0    118.0   8.0    72      5    2
2           3   12.0    149.0  12.6    74      5    3
3           4   18.0    313.0  11.5    62      5    4
4           5    NaN      NaN  14.3    56      5    5

In [4]:
len(airdata)

153

In [34]:
airdata.isnull().sum()

Unnamed: 0    0
Ozone         0
Solar.R       7
Wind          0
Temp          0
Month         0
Day           0
dtype: int64

In [6]:
Avgofozone_month = airdata.groupby(['Month'])[["Ozone"]].mean()
Avgofozone = airdata['Ozone'].mean()

In [7]:
Avgofozone_month

           Ozone
Month
5      23.615385
6      29.444444
7      59.115385
8      59.961538
9      31.448276

In [8]:
airdata.loc[airdata['Month'] == 5].groupby(['Month'])[["Ozone"]].mean()

           Ozone
Month
5      23.615385

In [28]:
sampl = airdata[['Ozone','Month']]

In [112]:
def month_avg(coll,mont):
    reslt = coll.loc[airdata['Month'] == mont].groupby(['Month'])[["Ozone"]].mean()
    return reslt['Ozone'].round().astype(np.int64)


def age_approx(row):
    Ozone = row['Ozone']
    Month = row['Month']
    
    if pd.isnull(Ozone):
        res = month_avg(airdata[['Ozone','Month']],Month)
        return res.to_frame().reset_index().iloc[0]['Ozone']
    else:
        return Ozone

In [108]:
ne = month_avg(airdata[['Ozone','Month']],5)

In [110]:
ne.to_frame().reset_index().iloc[0]['Ozone']

24

In [113]:
airdata['Ozone'] = airdata.apply(age_approx, axis=1)

In [114]:
airdata['Ozone']
airdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 7 columns):
Unnamed: 0    153 non-null int64
Ozone         153 non-null float64
Solar.R       146 non-null float64
Wind          153 non-null float64
Temp          153 non-null int64
Month         153 non-null int64
Day           153 non-null int64
dtypes: float64(3), int64(4)
memory usage: 8.4 KB

In [115]:
airdata[['Ozone','Month']]

     Ozone  Month
0     41.0      5
1     36.0      5
2     12.0      5
3     18.0      5
4     24.0      5
5     28.0      5
6     23.0      5
7     19.0      5
8      8.0      5
9     24.0      5
10     7.0      5
11    16.0      5
12    11.0      5
13    14.0      5
14    18.0      5
15    14.0      5
16    34.0      5
17     6.0      5
18    30.0      5
19    11.0      5
20     1.0      5
21    11.0      5
22     4.0      5
23    32.0      5
24    24.0      5
25    24.0      5
26    24.0      5
27    23.0      5
28    45.0      5
29   115.0      5
..     ...    ...
123   96.0      9
124   78.0      9
125   73.0      9
126   91.0      9
127   47.0      9
128   32.0      9
129   20.0      9
130   23.0      9
131   21.0      9
132   24.0      9
133   44.0      9
134   21.0      9
135   28.0      9
136    9.0      9
137   13.0      9
138   46.0      9
139   18.0      9
140   13.0      9
141   24.0      9
142   16.0      9
143   13.0      9
144   23.0      9
145   36.0      9
146    7.0      9
147   14.0      9
148   30.0      9
149   31.0      9
150   14.0      9
151   18.0      9
152   20.0      9

[153 rows x 2 columns]