In [5]:
import pandas as pd 
import numpy as np
airdata = pd.read_csv("datasets/datasets/airquality.csv")

In [16]:
#check number of rows
len(airdata)

146

In [17]:
#check Number of Columns
len(airdata.columns)

7

In [18]:
#view sample data
airdata.head()

   Unnamed: 0  Ozone  Solar.R  Wind  Temp  Month  Day
0           1   41.0    190.0   7.4    67      5    1
1           2   36.0    118.0   8.0    72      5    2
2           3   12.0    149.0  12.6    74      5    3
3           4   18.0    313.0  11.5    62      5    4
6           7   23.0    299.0   8.6    65      5    7

In [12]:
#check null in data
airdata.isnull().sum()

Unnamed: 0    0
Ozone         0
Solar.R       0
Wind          0
Temp          0
Month         0
Day           0
dtype: int64

In [6]:
#Get mean of the Ozone and mean ozone by every month
Avgofozone_month = airdata.groupby(['Month'])[["Ozone"]].mean()
Avgofozone = airdata['Ozone'].mean()
Avgofozone_month

In [8]:
# Sample get mean of the Ozone based on Month
airdata.loc[airdata['Month'] == 5].groupby(['Month'])[["Ozone"]].mean()

           Ozone
Month
5      23.615385

In [28]:
sampl = airdata[['Ozone','Month']]

In [7]:
#function for adding values to the NA in Ozone
#this function calculate the value mean of Ozone for every month,then replace the NA with mean values accorcingly
def month_avg(coll,mont):
    reslt = coll.loc[airdata['Month'] == mont].groupby(['Month'])[["Ozone"]].mean()
    return reslt['Ozone'].round().astype(np.int64)


def Ozone_approx(row):
    Ozone = row['Ozone']
    Month = row['Month']
    
    if pd.isnull(Ozone):
        res = month_avg(airdata[['Ozone','Month']],Month)
        return res.to_frame().reset_index().iloc[0]['Ozone']
    else:
        return Ozone

In [108]:

ne = month_avg(airdata[['Ozone','Month']],5)

# get the value alone from the DataFrame Cell
ne.to_frame().reset_index().iloc[0]['Ozone']

In [8]:
#apply the Ozone_approx on the Ozone column to handle the NA
airdata['Ozone'] = airdata.apply(Ozone_approx, axis=1)

In [11]:
#the other column that has NA is solar.R with only 4% of the data so we can remove those NA. 
#in some cases we have handle then them too
airdata.dropna(inplace=True)
#to check the values
airdata.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 146 entries, 0 to 152
Data columns (total 7 columns):
Unnamed: 0    146 non-null int64
Ozone         146 non-null float64
Solar.R       146 non-null float64
Wind          146 non-null float64
Temp          146 non-null int64
Month         146 non-null int64
Day           146 non-null int64
dtypes: float64(3), int64(4)
memory usage: 9.1 KB

In [13]:
#it gives the stastical view of the Data in the Dataframe
airdata.describe()

,Unnamed: 0,Ozone,Solar.R,Wind,Temp,Month,Day
count,146.000000,146.000000,146.000000,146.000000,146.000000,146.000000,146.000000
mean,78.363014,40.958904,185.931507,10.003425,78.116438,7.027397,16.123288
std,43.935514,29.867726,90.058422,3.508795,9.224787,1.404157,8.794897
min,1.000000,1.000000,7.000000,1.700000,57.000000,5.000000,1.000000
25%,41.250000,21.000000,115.750000,7.400000,73.000000,6.000000,9.000000
50%,77.500000,29.000000,205.000000,9.700000,79.000000,7.000000,16.000000
75%,116.750000,59.000000,258.750000,11.500000,84.000000,8.000000,23.750000
max,153.000000,168.000000,334.000000,20.700000,97.000000,9.000000,31.000000