In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

pd.set_option('display.max_columns', 500)
pd.set_option('display.max_rows', 1000)
pd.set_option('display.max_colwidth', -1)

In [3]:
data = pd.read_csv(r"D:/SAMS/SAMS_Master data.csv", encoding = "ISO-8859-1")

C:\Users\5029874\AppData\Local\Continuum\anaconda3\envs\trainingenv\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (8,10,11,14,42,43,49,60,70,94,109,124,133,137,155,162,163,165,166,185,186,187,206,209,210,216,225,228,229,230,233,235) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
data.head()

,PROPNO,AGMTNO,AGMT_DATE,PORTFOLIO,CHANNEL,PAYMENT_TYPE,AREA_CODE,DEALER_TYPE,DEALER_CODE,MAINDEALER_CODE,AGENT_CODE,EXECUTIVE_CODE,PRODUCT_CODE,MODEL_CODE,MANUFACTURE_CODE,SCHEME_TYPE,SCHEME_CODE,ADVANCE_EMI_COUNT,TENUR,ROI,EMI,PORCESSING_FEE,STAMPING_CHARGES,FI_COST,SELLING_CHARGES,ECS_CHARGES,DEALER_COMMISION,DEALER_SUBVENTION,MANUFACTURE_SUBVENTION,DSA_COMMISION,ASSET_COST,LOAN_AMOUNT,DOWN_PAYMENT,INITITAL_HIRE,LTV,AMORT_IRR,CUSTOMER_IRR,NET_IRR,VECHICAL_INSURANCE,VECHICAL_INSURANCE_TYPE,VECHICAL_INSURANCE_AMT,SPECIAL_INSURANCE,SPECIAL_INSURANCE_FOR,SPECIAL_INSURANCE_PRODUCT,SPECIAL_INSURANCE_AMOUNT,CLEARING_CHARGES_MODE,REFERRAL_PROGRAM,APPILCATION_TYPE,GENDER,QUALIFICATION,VOTERID,PANNO,DRIVING_LICENSE,PASSPORT,AADHAR,RATION,EXISTING_CUSTOMER,EMPLOYMENT_TYPE,CUSTOMER_CATEGORY,CUSTOMER_PROFILE_CODE,CUSTOMER_PROFILE_OTHER,RESIDENT_TYPE,BANK_ACCOUNT,GROSS_SALARY,NET_SALARY,OTHER_INCOME,PINCODE,CITY,TALUK,TOWN,REFERRAL_PROGRAM_TYPE,DOB,AGE,PAYMENT_FREQUENCY,STATE,TRN_MONTH,TRN_YEAR,FIN_YEAR,PRODUCT_TYPE,ACTUAL_LOAN_AMOUNT,PRODUCT_CUST_IRR,PRODUCT_AMORT_IRR,PRODUCT_TENUR,PF_SERVICE_TAX,TOPUP_FLAG,SUB_LOCATION,MICRO_MARKET,CIBIL_SCORE,APP_SCORE,RCU_PRE_SANCTION,RCU_PRE_SANCTION_STATUS,RCU_PRE_SANCTION_DOC,COBORROWER,GUARANTOR,CROSSELL_REFER_PROPNO,RELIGION,CIBIL_HIT,CIBIL_OVERDUE,CIBIL_RESULT,CIBIL_SCORE_COBORROWER,CIBIL_SCORE_GURANTOR,CUSTOMER_NAME,FIRST_EMI_DATE,LAST_EMI_DATE,STATUS,NOC_DATE,STATUS_DATE,ADDRESS_TYPE,ADDRESS_SLNO,SUB_STATUS,CUSTOMER_TYPE,REGISTRATION_FLAG,REGISTRATION_NO,CHASSIS_FLAG,CHASSIS_NUMBER,ENGIN_FLAG,ENGIN_NUMBER,CUSTOMER_ID,SANCTION_PROGRAM,SANCTION_DOCUMENT,FI_AGNECY_NAME,FI_FLAG,GEO_LIMIT_DEALER,FI_RESIDENT_RESULT,FI_OFFICE_RESULT,FI_STAFF_NAME,FI_UPDATED_BY,RCU_POST_SANCTION,RCU_POST_SANCTION_STATUS,RCU_POST_SANCTION_DOC,PAV_FLAG,PAV_STATUS,PAV_DOCUMENT,APP_SCORE_DESC,MARKETING_CHARGES,ADDITIONAL_PF,UPFRONT_CHARGES,FASTTRACK_ENQNO,TOTAL_EMI,RC_TYPE,YEAR_OF_MANUFACTURING,DATE_OF_REGISTRATION,AGE_OF_VEHICLE,REGISTRATION_TYPE,REGISTRATION_LOCATION,ASSET_LOCATION,INSURANCE_COMPANY,INSURANCE_POLICY_NUMBER,POLICY_HOLDER_NAME,PREMIUM_AMOUNT,POLICY_EXP_DATE,IDV_AMOUNT,METER_READING,REG_STATE,RE_TRIGGER,SOURCE_FROM,MODEL_YEAR,LOGIN_DATE,SHEDULE_TYPE,PREVIOUS_OWNER_COUNT,CO_BORROWER_GEO_LIMIT,GUARANTOR_GEO_LIMIT,CURRENT_STAGE,SANCTION_DATE,FIRST_SANCTION_ID,CURRENT_STATUS,UPDATE_ON,SAATHI_DOWNLOAD,INVOICE_TYPE,INVOICE_NUMBER,INVOICE_DATE,INVOICE_SERIAL_NUMBER,EXTD_WARRANTY,EXTD_WARRANTY_TYPE,MOB_INSURANCE,MOB_INSURANCE_PRODUCT,MOB_INSURANCE_AMOUNT,MOB_INSURANCE_TYPE,PAYNIMO_STATUS,BANK_ACCOUNT_NUMBER,IFSC_CODE,BANK_NAME,IMEI_NUMBER,SAATHI_REGISTER_DATE,SAATHI_LAST_UPDATED,LENDDO_SCORE,LENDDO_FLAG,LENDDO_CREATED_DATE,FO_ID,RC_COMPLETED,RC_RECEIVED_DATE,RC_DPD,RC_DOC_FLAG,RC_DATA_FLAG,INS_COMPLETED,INS_RECEIVED_DATE,INS_DPD,INS_DOC_FLAG,INS_DATA_FLAG,INVOICE_COMPLETED,INVOICE_RECEIVED_DATE,INVOICE_DPD,INVOICE_DOC_FLAG,INVOICE_DATA_FLAG,FATHERS_NAME,INVOICE_AMOUNT,CRIF_HIT,CRIF_SCORE,CRIF_SCORE_COBORROWER,SPL_INSURANCE_TYPE,FI_FLAG_COBOR,FI_RESIDENT_RESULT_COBOR,FI_OFFICE_RESULT_COBOR,FI_STAFF_NAME_COBOR,FI_UPDATED_BY_COBOR,GEO_LIMIT_DEALER_COBOR,FI_FLAG_GUAR,FI_RESIDENT_RESULT_GUAR,FI_OFFICE_RESULT_GUAR,FI_STAFF_NAME_GUAR,FI_UPDATED_BY_GUAR,GEO_LIMIT_DEALER_GUAR,SOURCING_TYPE,BUSINESS_PORTFOLIO,SURROGATE,LEAD_FROM,ELIGIBILITYGRID,CROREMARKS,STRAIGHT_THRU_DECISION,LEAD_ID,LEAD_DATE,ELIGIBILITYGRID_REMARK,SRNV_IMEI_VALIDATION_DATE,INWARD_DATE,CD_ASSET_INS_NAME,INWARD_USER_ID,MARITALSTATUS,NOOFDEPENDANT,TOTALFAMILYMEMBER,DESIGNATION,STATUS_CD,STAGE_CD,ISCURRENTADDRESS,APPLIEDAMOUNT,EMPLOYERNAME,YRSWITHCURRENTEMPLOYER,MNTHSWITHCURRRENTEMPLOYER,TOTALFAMILYINCOME,RESIDENCEADDRESSCORE,OFFICEADDRESSSCORE,PROPNO_MSME,IMEI_NO,KNOX_ACTIVIATED_DATE,KNOX_STATUS,KNOX_STATUS_UPDATED_DATE,KNOX_GUARD_ENABLE,KARVY_APP_SCORE,KARVY_SCORE_DESC,AGMTNO.1,FIELD1,FIELD2,FIELD3,FIELD4,FIELD5,FIELD6
0,3054TW27763,KO3054TW23249,27/06/2014,TW,ECF,ADM,3078,ASC,3474,3007,NaN,5005278,MC,MM114,NaN,NOR,GEN_N_5003,0,24,12.60,2134.0,1900.0,725.0,0.0,0.0,0.0,538.0,0.0,0.0,0.0,51585.0,40900.0,4164.0,11585.0,79.29,22.60,29.50,28.00,NaN,DOWNPAYMENT,0.0,Y,BORROWER,ICICI,900.0,NOT REQUIRED,N,INDIVIDUAL,MALE,NaN,Y,N,N,N,N,N,NaN,SELF,NaN,PROF252,NaN,OWNED,N,15000.0,15000.0,0.0,732125,Malda,Baghua B.O,Harishchandrapur,NaN,12/06/1988,26.0,Monthly,WB,6,2014,2015,NaN,40900.0,1206550.0,924340.0,981600.0,1659.39,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,N,N,NaN,MUSLIM,Y,0.0,NaN,NaN,0.0,MD AKIMUDDIN,07/08/2014,07/07/2016,L,NaN,NaN,RO,1,NaN,BORROWER,Y,WB66R6482,Y,MD625MF52E1D31017,Y,DF5DE1155265,6213073,NO INC PROOF,NO INCOME DOCS,J MITTAL AND ASSOCIATES,Y,2.5,Negative,NaN,SUBHO DAS,KO_JMASSO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,2134.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25/06/2014 10:10:17 PM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,27/12/2018,1644,Y,Y,N,27/12/2018,1644,N,Y,N,28/12/2018,1645,N,Y,TAFAJUL HOQUE,51865.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,KO3054TW23249,NaN,NaN,NaN,NaN,NaN,NaN
1,3054TW27812,KO3054TW23250,27/06/2014,TW,ECF,DRE,3078,ASC,3944,2981,NaN,5006200,MC,MM147,NaN,NOR,GEN_C_5012,2,24,13.00,1780.0,1526.0,725.0,0.0,0.0,0.0,406.0,0.0,0.0,0.0,60610.0,33900.0,5936.0,27610.0,50.06,23.27,36.13,34.43,NaN,EMI,1284.0,Y,BORROWER,ICICI,900.0,NOT REQUIRED,N,INDIVIDUAL,MALE,NaN,Y,N,N,N,N,N,NaN,SELF,NaN,PROF375,NaN,OWNED,N,15000.0,15000.0,0.0,742168,Murshidabad,Andi S.O,Murshidabad,NaN,01/01/1983,31.0,Monthly,WB,6,2014,2015,NaN,30340.0,1096184.2,788853.0,813600.0,1332.75,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,N,N,NaN,MUSLIM,Y,0.0,NaN,NaN,0.0,BADARE ALAM SEKH,05/08/2014,05/07/2016,L,NaN,NaN,RS,1,NaN,BORROWER,Y,WB58AB3135,Y,MD625SF47E1E82320,Y,CF4EE1081641,6215389,OWN HOUSE PROOF,EB BILL,SBM CONSULTANTS,Y,12.0,Negative,NaN,JOY NARAYAN MONDAL,KO_SBMCON,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,1887.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26/06/2014 08:52:29 PM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,27/12/2018,1644,Y,Y,N,27/12/2018,1644,N,Y,N,28/12/2018,1645,N,Y,ASRAF ALI,60610.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,KO3054TW23250,NaN,NaN,NaN,NaN,NaN,NaN
2,3054TW27813,KO3054TW23255,27/06/2014,TW,ECF,ECS,3054,ASC,3702,3006,NaN,5003687,MC,MM135,NaN,NOR,GEN_N_5003,0,36,13.75,2296.0,2642.0,725.0,0.0,0.0,0.0,809.0,0.0,0.0,0.0,83850.0,58500.0,3692.0,26250.0,69.77,24.03,28.25,27.14,NaN,EMI,0.0,Y,BORROWER,ICICI,900.0,NOT REQUIRED,N,INDIVIDUAL,MALE,NaN,N,Y,N,N,N,N,NaN,SELF,NaN,PROF289,NaN,OWNED,N,20000.0,20000.0,0.0,711314,Howrah,Dakshin Shibpur B.O,Domjur,NaN,10/02/1990,24.0,Monthly,WB,6,2014,2015,NaN,58500.0,1652625.0,1405755.0,2106000.0,2351.37,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,N,N,NaN,HINDU,Y,0.0,NaN,NaN,0.0,PRASANJIT MAJI,07/08/2014,07/07/2017,L,NaN,NaN,RO,1,NaN,BORROWER,N,NaN,Y,MD634KE48E2E18256,Y,OE4EE2611213,6215392,NO INC PROOF,NO INCOME DOCS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,2426.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26/06/2014 09:02:29 PM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,27/12/2018,1644,Y,Y,N,27/12/2018,1644,N,Y,N,27/12/2018,1644,N,Y,SHASHANKA MAJI,83850.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,KO3054TW23255,NaN,NaN,NaN,NaN,NaN,NaN
3,3054TW27832,KO3054TW23260,27/06/2014,TW,ECF,RECS,3078,ASC,3802,2967,NaN,5003173,MC,MM114,NaN,NOR,GEN_N_5003,0,24,13.00,2020.0,1732.0,725.0,0.0,0.0,0.0,504.0,0.0,0.0,0.0,51685.0,38470.0,3996.0,14115.0,74.43,23.27,30.20,28.69,NaN,DOWNPAYMENT,1164.0,Y,BORROWER,ICICI,900.0,NOT REQUIRED,N,INDIVIDUAL,MALE,NaN,Y,Y,N,N,N,N,NaN,SELF,NaN,PROF297,NaN,OWNED,N,13000.0,13000.0,0.0,736160,Cooch Behar,Andaran Fulbari B.O,Tufanganj,NaN,05/12/1989,24.0,Monthly,WB,6,2014,2015,NaN,38470.0,1161794.0,895196.9,923280.0,1512.66,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,N,N,NaN,HINDU,Y,0.0,NaN,NaN,0.0,GOKUL SARKAR,07/08/2014,07/07/2016,L,NaN,NaN,RO,1,NaN,BORROWER,Y,WB64J8492,Y,MD625MF59E1D33394,Y,DF5BE1121502,6216288,NO INC PROOF,NO INCOME DOCS,J MITTAL AND ASSOCIATES,Y,2.0,Negative,NaN,SAMIR BASAK,KO_JMASSO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,2020.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27/06/2014 02:35:12 PM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,27/12/2018,1644,Y,Y,N,27/12/2018,1644,N,Y,N,28/12/2018,1645,N,Y,DULAL CHANDRA SARKAR,51685.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,KO3054TW23260,NaN,NaN,NaN,NaN,NaN,NaN
4,3054TW27661,KO3054TW23267,27/06/2014,TW,ECF,PDC,3078,ASC,3083,2966,NaN,5002997,MO,MM065,NaN,NOR,GEN_N_5011,0,24,13.00,1360.0,1125.0,725.0,0.0,0.0,0.0,332.0,0.0,0.0,0.0,34370.0,25900.0,2887.0,9370.0,75.36,23.27,30.31,28.84,NaN,DOWNPAYMENT,0.0,Y,BORROWER,ICICI,900.0,NOT REQUIRED,N,INDIVIDUAL,MALE,NaN,Y,N,N,N,N,N,NaN,SELF,NaN,PROF219,NaN,OWNED,Y,15000.0,15000.0,0.0,721124,West Midnapore,Kalikadihi B.O,Midnapore,NaN,19/01/1993,21.0,Monthly,WB,6,2014,2015,NaN,25900.0,785029.0,602693.0,621600.0,982.53,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,N,N,NaN,HINDU,NaN,0.0,NaN,NaN,0.0,JAYANTA JANA,07/08/2014,07/07/2016,M,24/06/2019,23/06/2019,RO,1,NaN,BORROWER,Y,WB34AK6483,Y,MD621BD1XE1E66408,Y,OD1EE1624706,6209176,NO INC PROOF,NO INCOME DOCS,3RD EYE,Y,3.0,Positive,NaN,ASWINE BISWAL,KO_SMA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,1360.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24/06/2014 01:28:19 PM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,27/12/2018,1644,Y,Y,N,27/12/2018,1644,N,Y,N,27/12/2018,1644,N,Y,BIKASH KUMAR JANA,34370.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,KO3054TW23267,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
data.columns

Index(['PROPNO', 'AGMTNO', 'AGMT_DATE', 'PORTFOLIO', 'CHANNEL', 'PAYMENT_TYPE',
       'AREA_CODE', 'DEALER_TYPE', 'DEALER_CODE', 'MAINDEALER_CODE',
       ...
       'KNOX_GUARD_ENABLE', 'KARVY_APP_SCORE', 'KARVY_SCORE_DESC', 'AGMTNO.1',
       'FIELD1', 'FIELD2', 'FIELD3', 'FIELD4', 'FIELD5', 'FIELD6'],
      dtype='object', length=265)

In [6]:
data = data[['PROPNO','AGMTNO','AGMT_DATE','PORTFOLIO','CHANNEL','PAYMENT_TYPE','AREA_CODE','DEALER_TYPE',
             'PRODUCT_CODE','MODEL_CODE','SCHEME_TYPE','TENUR','EMI','LTV','AMORT_IRR','CUSTOMER_IRR',
             'VECHICAL_INSURANCE_TYPE','APPILCATION_TYPE','GENDER','EMPLOYMENT_TYPE',
             'CUSTOMER_PROFILE_CODE','CUSTOMER_CATEGORY','RESIDENT_TYPE','BANK_ACCOUNT','AGE','STATE','TRN_MONTH',
             'TRN_YEAR','PRODUCT_TYPE','TOPUP_FLAG','SUB_LOCATION','CIBIL_SCORE','APP_SCORE','COBORROWER','GUARANTOR',
             'RELIGION','CIBIL_OVERDUE','CIBIL_SCORE_COBORROWER','CIBIL_SCORE_GURANTOR','ADDRESS_TYPE','SANCTION_DOCUMENT',
             'FI_FLAG','GEO_LIMIT_DEALER','FI_RESIDENT_RESULT','FI_OFFICE_RESULT','TOTAL_EMI','RC_COMPLETED','RC_DPD']]

In [7]:
import gc
gc.collect()

0

In [8]:
def get_unique(df):
    cols = df.columns
    for i in cols:
        print("{}              {}".format(i,len(df[i].unique())))

In [9]:
get_unique(data)

PROPNO              581097
AGMTNO              581097
AGMT_DATE              2747
PORTFOLIO              1
CHANNEL              3
PAYMENT_TYPE              9
AREA_CODE              70
DEALER_TYPE              2
PRODUCT_CODE              4
MODEL_CODE              75
SCHEME_TYPE              5
TENUR              38
EMI              4047
LTV              6617
AMORT_IRR              2887
CUSTOMER_IRR              2933
VECHICAL_INSURANCE_TYPE              5
APPILCATION_TYPE              3
GENDER              4
EMPLOYMENT_TYPE              7
CUSTOMER_PROFILE_CODE              370
CUSTOMER_CATEGORY              1
RESIDENT_TYPE              6
BANK_ACCOUNT              2
AGE              63
STATE              31
TRN_MONTH              12
TRN_YEAR              9
PRODUCT_TYPE              1
TOPUP_FLAG              1
SUB_LOCATION              289
CIBIL_SCORE              347
APP_SCORE              402
COBORROWER              2
GUARANTOR              2
RELIGION              7
CIBIL_OVERDUE              5249
CIBIL_SCORE_COBORROWER              173
CIBIL_SCORE_GURANTOR              70
ADDRESS_TYPE              4
SANCTION_DOCUMENT              53
FI_FLAG              3
GEO_LIMIT_DEALER              338
FI_RESIDENT_RESULT              3
FI_OFFICE_RESULT              3
TOTAL_EMI              4106
RC_COMPLETED              2
RC_DPD              3109

In [10]:
data_tm = pd.read_excel(r"D:/SAMS/TM Dump.xlsx", sheet_name=None)

In [11]:
data_tm_df = pd.concat(data_tm[frame] for frame in data_tm.keys())

In [12]:
data_tm_df.count()

DUE_AGMTNO      5872028
CUSTOMERNAME    5872028
OS              5872028
Sys Hit         72399
dtype: int64

In [13]:
data_tm_df.head()

      DUE_AGMTNO            CUSTOMERNAME       OS  Sys Hit
0  OR3051TW02336  Mr.KUMUDABISOYI         52888.0 NaN
1  JH3053TW05118  Mr.SANTOSH KUMARPANDEY  32954.0 NaN
2  KO3054TW04065  Mr.MANTILALA            29804.0 NaN
3  OR3051TW12966  Mr.PRASADNAYAK          28385.0 NaN
4  OR3051TW00786  Mr.SASIBHUSANSWAIN      26677.0 NaN

In [14]:
data_tm_df = data_tm_df.groupby(['CUSTOMERNAME', 'DUE_AGMTNO']).agg({'OS': 'mean', 'Sys Hit': 'sum'}).reset_index()

In [15]:
data_tm_df.head()

                   CUSTOMERNAME       DUE_AGMTNO      OS  Sys Hit
0  MSA BCONSULTANT               KA3009TW0112212  52.0    0.0
1  MSA S ELECTRICALS             KA3009TW0089317  844.0   100.0
2  MSA TO ZFUMIGATION SERIVICES  PB3046TW05534    424.0   0.0
3  MSA V TRADERS                 TN3008TW03657    5236.0  0.0
4  MSAASHVIAGENCIES              AP3021TW0076211  965.0   0.0

In [16]:
final_df = pd.merge(data_tm_df, data, left_on='DUE_AGMTNO', right_on='AGMTNO', how='inner')

In [17]:
del final_df['DUE_AGMTNO']

In [18]:
final_df['Target'] = final_df.apply(lambda x: 1 if x['Sys Hit'] > 0 else 0, axis = 1)

In [19]:
final_df.head()

,CUSTOMERNAME,OS,Sys Hit,PROPNO,AGMTNO,AGMT_DATE,PORTFOLIO,CHANNEL,PAYMENT_TYPE,AREA_CODE,DEALER_TYPE,PRODUCT_CODE,MODEL_CODE,SCHEME_TYPE,TENUR,EMI,LTV,AMORT_IRR,CUSTOMER_IRR,VECHICAL_INSURANCE_TYPE,APPILCATION_TYPE,GENDER,EMPLOYMENT_TYPE,CUSTOMER_PROFILE_CODE,CUSTOMER_CATEGORY,RESIDENT_TYPE,BANK_ACCOUNT,AGE,STATE,TRN_MONTH,TRN_YEAR,PRODUCT_TYPE,TOPUP_FLAG,SUB_LOCATION,CIBIL_SCORE,APP_SCORE,COBORROWER,GUARANTOR,RELIGION,CIBIL_OVERDUE,CIBIL_SCORE_COBORROWER,CIBIL_SCORE_GURANTOR,ADDRESS_TYPE,SANCTION_DOCUMENT,FI_FLAG,GEO_LIMIT_DEALER,FI_RESIDENT_RESULT,FI_OFFICE_RESULT,TOTAL_EMI,RC_COMPLETED,RC_DPD,Target
0,MSA BCONSULTANT,52.0,0.0,3009TW0139853,KA3009TW0112212,25/03/2017,TW,ECF,ADM,3009,ASC,SC,MM171,NOR,24,2792.0,78.60,23.20,27.19,EMI,NON-INDIVIDUAL,MALE,SELF,PROF235,NaN,NaN,Y,NaN,KA,3,2017,NaN,NaN,1056.0,NaN,514.0,Y,N,NaN,0.0,NaN,0.0,RO,BANK STATEMENT,Y,5.0,Positive,NaN,2920.0,Y,91,0
1,MSA S ELECTRICALS,844.0,100.0,3009TW0112877,KA3009TW0089317,30/04/2016,TW,ECF,ADM,3009,DEALER,SC,MM159,NOR,24,2865.0,86.34,22.43,27.38,EMI,NON-INDIVIDUAL,MALE,SELF,PROF347,NaN,NaN,Y,NaN,KA,4,2016,NaN,NaN,NaN,NaN,514.0,Y,N,NaN,0.0,NaN,0.0,RO,LATEST ITR,Y,1.0,Positive,NaN,2991.0,Y,189,1
2,MSA TO ZFUMIGATION SERIVICES,424.0,0.0,3046TW07047,PB3046TW05534,31/01/2015,TW,ECF,ECS,3046,DEALER,SC,MM159,NOR,24,2064.0,66.67,24.10,27.86,NOT REQUIRED,NON-INDIVIDUAL,MALE,SELF,PROF358,NaN,NaN,Y,NaN,PB,1,2015,NaN,NaN,NaN,NaN,642.0,Y,N,NaN,0.0,NaN,0.0,RS,LAST 3M BANK ST,NaN,NaN,NaN,NaN,2064.0,N,1426,0
3,MSA V TRADERS,5236.0,0.0,3008TW06625,TN3008TW03657,10/08/2011,TW,ECF,ADM,3008,DEALER,MC,MM088,NOR,24,2213.0,80.33,16.43,30.40,DOWNPAYMENT,NON-INDIVIDUAL,MALE,SELF,PROF284,NaN,NaN,N,NaN,TN,8,2011,NaN,NaN,NaN,NaN,0.0,N,Y,NaN,0.0,NaN,0.0,RO,INC PRF NOT AVLBL,NaN,NaN,NaN,NaN,2213.0,Y,2696,0
4,MSAASHVIAGENCIES,965.0,0.0,3021TW0091561,AP3021TW0076211,14/10/2017,TW,ECF,ACH,3021,ASC,MO,MM179,SPL,18,2267.0,87.50,20.02,21.38,EMI,NON-INDIVIDUAL,MALE,SELF,PROF245,NaN,NaN,N,NaN,AP,10,2017,NaN,NaN,NaN,NaN,475.0,Y,N,NaN,0.0,689.0,0.0,RO,NO INCOME DOCS,N,0.0,NaN,NaN,2383.0,N,440,0

In [20]:
final_df.Target.count()

581097

In [112]:
(71051 / 581097) * 100

12.227046431146608

In [21]:
final_df['GENDER'] = final_df.apply(lambda x: 'MALE' if x['GENDER'] in ['MALE', 'M'] else 'FEMALE', axis=1)

In [22]:
final_df.CIBIL_SCORE.fillna(value=0, inplace=True)

In [23]:
final_df.fillna(value=-1, inplace=True)

plt.figure(figsize = (15, 10))


sns.kdeplot(final_df.loc[final_df['Target'] == 0, 'AGE'], label = 'Target == 0')#,shade=True)

sns.kdeplot(final_df.loc[final_df['Target'] == 1, 'AGE'], label = 'Target == 1')#,shade=True)

# Labeling of plot
plt.xlabel('Age'); plt.ylabel('Target'); plt.title('Distribution of Ages');

# percentile calculation

In [64]:
per_var = ['Sys Hit','AGE','CIBIL_SCORE_GURANTOR','CIBIL_SCORE_COBORROWER','SUB_LOCATION','GEO_LIMIT_DEALER',
           'CIBIL_SCORE','APP_SCORE','AMORT_IRR','CUSTOMER_IRR','RC_DPD','EMI','TOTAL_EMI',
           'CIBIL_OVERDUE','LTV']

tickets = np.percentile(final_df['Sys Hit'], [10,20,30,40,50,60,70,80,90,100])

In [65]:
def percentile(x):
    c = '_bins'
    for i in per_var:
        
        print(i)
        
        tickets = np.percentile(final_df[i], [10,20,30,40,50,60,70,80,90,100])

        def percentiles(row):
            if row > 0 and row <= tickets[0]:
                return 1
            elif row > tickets[0] and row <= tickets[1]:
                return 2
            elif row > tickets[1] and row <= tickets[2]:
                return 3
            elif row > tickets[2] and row <= tickets[3]:
                return 4
            elif row > tickets[3] and row <= tickets[4]:
                return 5
            elif row > tickets[4] and row <= tickets[5]:
                return 6
            elif row > tickets[5] and row <= tickets[6]:
                return 7
            elif row > tickets[6] and row <= tickets[7]:
                return 8
            elif row > tickets[7] and row <= tickets[8]:
                return 9
            elif row > tickets[8] and row <= tickets[9]:
                return 10
            else:
                return -1
            
        x[i+c] = x[i].apply(lambda y: percentiles(y))
        
    return x

In [85]:
final_df_bins = percentile(final_df)

Sys Hit
AGE
CIBIL_SCORE_GURANTOR
CIBIL_SCORE_COBORROWER
SUB_LOCATION
GEO_LIMIT_DEALER
CIBIL_SCORE
APP_SCORE
AMORT_IRR
CUSTOMER_IRR
RC_DPD
EMI
TOTAL_EMI
CIBIL_OVERDUE
LTV

'SANCTION_DOCUMENT', 'CUSTOMER_PROFILE_CODE'

In [86]:
final_df_bins.head()

,CUSTOMERNAME,OS,Sys Hit,PROPNO,AGMTNO,AGMT_DATE,PORTFOLIO,CHANNEL,PAYMENT_TYPE,AREA_CODE,DEALER_TYPE,PRODUCT_CODE,MODEL_CODE,SCHEME_TYPE,TENUR,EMI,LTV,AMORT_IRR,CUSTOMER_IRR,VECHICAL_INSURANCE_TYPE,APPILCATION_TYPE,GENDER,EMPLOYMENT_TYPE,CUSTOMER_PROFILE_CODE,CUSTOMER_CATEGORY,RESIDENT_TYPE,BANK_ACCOUNT,AGE,STATE,TRN_MONTH,TRN_YEAR,PRODUCT_TYPE,TOPUP_FLAG,SUB_LOCATION,CIBIL_SCORE,APP_SCORE,COBORROWER,GUARANTOR,RELIGION,CIBIL_OVERDUE,CIBIL_SCORE_COBORROWER,CIBIL_SCORE_GURANTOR,ADDRESS_TYPE,SANCTION_DOCUMENT,FI_FLAG,GEO_LIMIT_DEALER,FI_RESIDENT_RESULT,FI_OFFICE_RESULT,TOTAL_EMI,RC_COMPLETED,RC_DPD,Target,Sys Hit_bins,AGE_bins,CIBIL_SCORE_GURANTOR_bins,CIBIL_SCORE_COBORROWER_bins,SUB_LOCATION_bins,GEO_LIMIT_DEALER_bins,CIBIL_SCORE_bins,APP_SCORE_bins,AMORT_IRR_bins,CUSTOMER_IRR_bins,RC_DPD_bins,EMI_bins,TOTAL_EMI_bins,CIBIL_OVERDUE_bins,LTV_bins
0,MSA BCONSULTANT,52.0,0.0,3009TW0139853,KA3009TW0112212,25/03/2017,TW,ECF,ADM,3009,ASC,SC,MM171,NOR,24,2792.0,78.60,23.20,27.19,EMI,NON-INDIVIDUAL,MALE,SELF,PROF235,-1.0,-1,Y,-1.0,KA,3,2017,-1.0,-1.0,1056.0,0.0,514.0,Y,N,-1,0.0,-1.0,0.0,RO,BANK STATEMENT,Y,5.0,Positive,-1,2920.0,Y,91,0,-1,-1,-1,-1,9,6,-1,6,5,2,1,9,9,-1,8
1,MSA S ELECTRICALS,844.0,100.0,3009TW0112877,KA3009TW0089317,30/04/2016,TW,ECF,ADM,3009,DEALER,SC,MM159,NOR,24,2865.0,86.34,22.43,27.38,EMI,NON-INDIVIDUAL,MALE,SELF,PROF347,-1.0,-1,Y,-1.0,KA,4,2016,-1.0,-1.0,-1.0,0.0,514.0,Y,N,-1,0.0,-1.0,0.0,RO,LATEST ITR,Y,1.0,Positive,-1,2991.0,Y,189,1,9,-1,-1,-1,-1,4,-1,6,4,2,3,9,10,-1,10
2,MSA TO ZFUMIGATION SERIVICES,424.0,0.0,3046TW07047,PB3046TW05534,31/01/2015,TW,ECF,ECS,3046,DEALER,SC,MM159,NOR,24,2064.0,66.67,24.10,27.86,NOT REQUIRED,NON-INDIVIDUAL,MALE,SELF,PROF358,-1.0,-1,Y,-1.0,PB,1,2015,-1.0,-1.0,-1.0,0.0,642.0,Y,N,-1,0.0,-1.0,0.0,RS,LAST 3M BANK ST,-1,-1.0,-1,-1,2064.0,N,1426,0,-1,-1,-1,-1,-1,-1,-1,10,6,3,7,5,5,-1,3
3,MSA V TRADERS,5236.0,0.0,3008TW06625,TN3008TW03657,10/08/2011,TW,ECF,ADM,3008,DEALER,MC,MM088,NOR,24,2213.0,80.33,16.43,30.40,DOWNPAYMENT,NON-INDIVIDUAL,MALE,SELF,PROF284,-1.0,-1,N,-1.0,TN,8,2011,-1.0,-1.0,-1.0,0.0,0.0,N,Y,-1,0.0,-1.0,0.0,RO,INC PRF NOT AVLBL,-1,-1.0,-1,-1,2213.0,Y,2696,0,-1,-1,-1,-1,-1,-1,-1,-1,2,5,10,6,6,-1,8
4,MSAASHVIAGENCIES,965.0,0.0,3021TW0091561,AP3021TW0076211,14/10/2017,TW,ECF,ACH,3021,ASC,MO,MM179,SPL,18,2267.0,87.50,20.02,21.38,EMI,NON-INDIVIDUAL,MALE,SELF,PROF245,-1.0,-1,N,-1.0,AP,10,2017,-1.0,-1.0,-1.0,0.0,475.0,Y,N,-1,0.0,689.0,0.0,RO,NO INCOME DOCS,N,0.0,-1,-1,2383.0,N,440,0,-1,-1,-1,10,-1,3,-1,5,3,1,5,6,7,-1,10

In [87]:
bivariate_df = final_df_bins[['CUSTOMER_CATEGORY','PRODUCT_TYPE','TOPUP_FLAG','BANK_ACCOUNT','COBORROWER','GUARANTOR',
                              'RC_COMPLETED','APPILCATION_TYPE','FI_FLAG','FI_RESIDENT_RESULT','FI_OFFICE_RESULT',
                              'GENDER','ADDRESS_TYPE','VECHICAL_INSURANCE_TYPE','RESIDENT_TYPE','EMPLOYMENT_TYPE',
                              'RELIGION','TRN_YEAR','TRN_MONTH','STATE','Sys Hit_bins','AGE_bins','CIBIL_SCORE_GURANTOR_bins',
                              'CIBIL_SCORE_COBORROWER_bins','SUB_LOCATION_bins','GEO_LIMIT_DEALER_bins', 'CIBIL_SCORE_bins',
                              'APP_SCORE_bins', 'AMORT_IRR_bins','CUSTOMER_IRR_bins','RC_DPD_bins','EMI_bins','TOTAL_EMI_bins',
                              'CIBIL_OVERDUE_bins','LTV_bins', 'Target']]

for i in bivariate_df.columns:
    if i != 'Target':
        df = bivariate_df[[i,'Target']] \
        .groupby([i,'Target']) \
        .size()
        df = pd.DataFrame(df).reset_index()
        # try catch for sorting the x label values
        try:
            df[i] = df[i].astype('int64')
            df = df.sort_values(by=i)
        except:
            try:
                df[i] = df[i].astype('float64')
                df = df.sort_values(by=i)
            except:
                pass            
        df[i] = df[i].astype('str')
        df.columns = [i,'Target', 'Counts']
        df = df.pivot(i,'Target', 'Counts').reset_index()
        df.columns = [i, 'Not_Paid', 'Paid']
        df.fillna(value=0, inplace=True)
        
        ax = df.plot.bar(figsize=(15,12),title=i)
        
        df['Not_Paid%']  = np.round((df['Not_Paid'] / (df['Not_Paid'] + df['Paid'])) * 100, 2)
        df['Paid%']  = np.round((df['Paid'] / (df['Not_Paid'] + df['Paid'])) * 100, 2)
        
        x_ind = sorted([p.get_x() for p in ax.patches])
        values_lst = []
        hight_lst = []

        for j in df.values:
            hight_lst.append(j[1])
            hight_lst.append(j[2])
            values_lst.append(j[3])
            values_lst.append(j[4])

        for k,v,h in zip(x_ind, values_lst, hight_lst):
            ax.annotate('{:.3}%'.format(Decimal(str(v))), (k+0.05, h+1000), fontweight='bold')

        ax.set_ylabel('Count')
        ax.title.set_size(20)
        ax.legend(['Not Paid','Paid'])
        ax.set_xticklabels(pd.Series(df[i]),rotation=360,fontsize=13)
        print('------------------- '+i+' ------------------')
        plt.savefig('D:/SAMS/Plot/'+i+'.png')
        plt.show()

for i in bivariate_df.columns:
    if i != 'Target':
        df = bivariate_df[[i,'Target']] \
        .groupby([i,'Target']) \
        .size()
        df = pd.DataFrame(df).reset_index()
        df.columns = [i,'Target', 'Counts']
        df = df.pivot(i,'Target', 'Counts').reset_index()
        #print('------------------- '+i+' ------------------')
        print(df)

In [ ]:
pd.read_csv()

from decimal import Decimal

df = bivariate_df[['ADDRESS_TYPE','Target']] \
        .groupby(['ADDRESS_TYPE','Target']) \
        .size()
df = pd.DataFrame(df).reset_index()
# try catch for sorting the x label values
try:
    df['ADDRESS_TYPE'] = df['ADDRESS_TYPE'].astype('int64')
    df = df.sort_values(by='ADDRESS_TYPE')
except:
    try:
        df['ADDRESS_TYPE'] = df['ADDRESS_TYPE'].astype('float64')
        df = df.sort_values(by='ADDRESS_TYPE')
    except:
        pass            
df['ADDRESS_TYPE'] = df['ADDRESS_TYPE'].astype('str')
df.columns = ['ADDRESS_TYPE','Target', 'Counts']
df = df.pivot('ADDRESS_TYPE','Target', 'Counts').reset_index()
df.columns = ['ADDRESS_TYPE', 'Not_Paid', 'Paid']
df.fillna(value=0, inplace=True)
#df['Not_Paid%']  = np.round((df['Not_Paid'] / (df['Not_Paid'] + df['Paid'])) * 100, 2)
#df['Paid%']  = np.round((df['Paid'] / (df['Not_Paid'] + df['Paid'])) * 100, 2)
ax = df.plot.bar(figsize=(15,12),title='ADDRESS_TYPE')
df['Not_Paid%']  = np.round((df['Not_Paid'] / (df['Not_Paid'] + df['Paid'])) * 100, 2)
df['Paid%']  = np.round((df['Paid'] / (df['Not_Paid'] + df['Paid'])) * 100, 2)
x_ind = sorted([p.get_x() for p in ax.patches])
values_lst = []
hight_lst = []

for j in df.values:
    hight_lst.append(j[1])
    hight_lst.append(j[2])
    values_lst.append(j[3])
    values_lst.append(j[4])

for k,v,h in zip(x_ind, values_lst, hight_lst):
    ax.annotate('{:.3} %'.format(Decimal(str(v))), (k+0.05, h+1000), fontweight='bold')
ax.set_ylabel('Count')
ax.title.set_size(20)
ax.legend(['Not Paid','Paid'])
ax.set_xticklabels(pd.Series(df['ADDRESS_TYPE']),rotation=360,fontsize=13)
#print('------------------- '+i+' ------------------')
#plt.savefig('D:/SAMS/Plot/TRN_YEAR.png')
plt.show()

df['Not_Paid%']  = np.round((df.iloc[:,1] / (df.iloc[:,1] + df.iloc[:,2])) * 100, 2)
df['Paid%']  = np.round((df.iloc[:,2] / (df.iloc[:,1] + df.iloc[:,2])) * 100, 2)

df.columns = ['TRN_YEAR', 'Not_Paid', 'Paid']

df['Not_Paid%']  = np.round((df['Not_Paid'] / (df['Not_Paid'] + df['Paid'])) * 100, 2)
df['Paid%']  = np.round((df['Paid'] / (df['Not_Paid'] + df['Paid'])) * 100, 2)

In [186]:
df

  ADDRESS_TYPE  Not_Paid     Paid  Not_Paid%  Paid%
0  OF           4.0       0.0      100.00     0.00
1  PR           127.0     26.0     83.01      16.99
2  RO           347614.0  45815.0  88.35      11.65
3  RS           162301.0  25210.0  86.56      13.44

In [139]:
import io
data=io.StringIO("""x1,x2,x3
    1,A,0.42
    1,B,0.62
    2,A,0.24
    2,B,0.58
    """)
ddt = pd.read_csv(data, sep=",")
ddt

   x1 x2    x3
0  1   A  0.42
1  1   B  0.62
2  2   A  0.24
3  2   B  0.58

In [146]:
from decimal import Decimal

for p in ax.patches:
    ax.annotate( , (p.get_x(), p.get_height()))

In [161]:
values_lst = []

for i in df.values:
    values_lst.append(i[3])
    values_lst.append(i[4])

[p.get_height() for p in ax.patches]

for k,v in zip(x_ind, values_lst, ):
    print(k, v)

for p in ax.patches:
    print(p.get_height())
    print(p.get_x())

In [26]:
charges = pd.read_csv(r"D:/SAMS/Charges_DataV3.csv", encoding = "ISO-8859-1")

In [27]:
charges[charges['AGMTNO'] == 'MH3018TW01023']

           AGMTNO     CUTDATE   CHARGES_HEAD  CLOSING_DUE
12  MH3018TW01023  2013-01-31  AFC            871.0
13  MH3018TW01023  2013-01-31  CHEQUE_BOUNCE  4350.0

In [28]:
len(charges.AGMTNO.unique())

2729120

In [ ]:
5091671

In [29]:
final_v3 = pd.merge(final_df, charges, on='AGMTNO', how='left')

final_v3.head()

In [ ]:
1,147,851

In [216]:
final_v4 = final_v3[['CHARGES_HEAD', 'CLOSING_DUE', 'Target']]

fig = plt.figure(figsize = (15,8))
ax = fig.gca()
final_v4.loc[final_v4['CHARGES_HEAD'] == 'AFC'].iloc[:,1].plot.hist(bins=500,ax = ax)

fig = plt.figure(figsize = (15,8))
ax = fig.gca()
final_v4.loc[final_v4['CHARGES_HEAD'] == 'CHEQUE_BOUNCE'].iloc[:,1].plot.hist(ax=ax)s

fig = plt.figure(figsize = (15,8))
ax = fig.gca()
final_v4.loc[final_v4['CHARGES_HEAD'] == 'CASH_BOUNCE'].iloc[:,1].plot.hist(ax=ax)

In [234]:
final_v4.CHARGES_HEAD.unique()

array(['AFC', 'CHEQUE_BOUNCE', 'CASH_BOUNCE'], dtype=object)

In [232]:
final_v4.loc[final_v4['CHARGES_HEAD'] == 'CHEQUE_BOUNCE'].iloc[:,1].max()

14800.0

In [233]:
final_v4.loc[final_v4['CHARGES_HEAD'] == 'AFC'].iloc[:,1].max()

53736.0

In [235]:
final_v4.loc[final_v4['CHARGES_HEAD'] == 'CASH_BOUNCE'].iloc[:,1].max()

9200.0

In [67]:
def format_number(valu):
    if valu > 999:
        return str(valu)[:-3]+'K'
    else:
        return valu

hist = final_v4.loc[final_v4['CHARGES_HEAD'] == 'CASH_BOUNCE'].iloc[:,1]
fig = plt.figure(figsize = (17,8))
ax = fig.gca()

ax = hist[hist > 0].plot.hist(ax=ax, bins=20, title='CASH_BOUNCE')
ax.title.set_size(20)
for p in ax.patches:
    ax.annotate('{}'.format(format_number(int(p.get_height()))), (p.get_x(), p.get_height()+1000), fontsize=13, fontweight='bold')
plt.savefig('D:/SAMS/Plot/CASH_BOUNCE.png')
plt.show()

hist = final_v4.loc[(final_v4['CHARGES_HEAD'] == 'CHEQUE_BOUNCE') & (final_df['Target'] == 0)].iloc[:,1]
fig = plt.figure(figsize = (17,8))
ax = fig.gca()

ax = hist[hist > 0].plot.hist(ax=ax, bins=20, title='CHEQUE_BOUNCE_0')
ax.title.set_size(20)
for p in ax.patches:
    ax.annotate('{}'.format(format_number(int(p.get_height()))), (p.get_x(), p.get_height()+100), fontsize=13, fontweight='bold')
plt.savefig('D:/SAMS/Plot/CHEQUE_BOUNCE_0.png')
plt.show()

In [30]:
histdf = final_v3[['AGMTNO', 'CHARGES_HEAD', 'CLOSING_DUE']]

In [31]:
histdf.head()

            AGMTNO   CHARGES_HEAD  CLOSING_DUE
0  KA3009TW0112212  AFC            52.0
1  KA3009TW0089317  CHEQUE_BOUNCE  841.0
2  KA3009TW0089317  AFC            3.0
3  PB3046TW05534    AFC            24.0
4  PB3046TW05534    CHEQUE_BOUNCE  400.0

In [49]:
hist_ddf = histdf.groupby('AGMTNO').agg(lambda x: sorted(x.tolist()))

In [50]:
hist_ddf.reset_index(inplace = True)

In [52]:
hist_ddf['TOTAL_CHARGE'] = hist_ddf.apply(lambda x: sum(x['CLOSING_DUE']), axis=1)

In [53]:
hist_ddf['CHARGES_HEAD'] = hist_ddf.apply(lambda x: ' '.join(x['CHARGES_HEAD']), axis=1)

In [54]:
hist_ddf.head()

          AGMTNO       CHARGES_HEAD      CLOSING_DUE  TOTAL_CHARGE
0  AP3019TW00009  AFC CHEQUE_BOUNCE  [221.0, 2038.0]  2259.0
1  AP3019TW00031  AFC CHEQUE_BOUNCE  [3.0, 443.0]     446.0
2  AP3019TW00032  AFC CHEQUE_BOUNCE  [149.0, 226.0]   375.0
3  AP3019TW00033  AFC CHEQUE_BOUNCE  [127.0, 1135.0]  1262.0
4  AP3019TW00034  AFC CHEQUE_BOUNCE  [17.0, 2200.0]   2217.0

In [55]:
hist_ddf.CHARGES_HEAD.unique()

array(['AFC CHEQUE_BOUNCE', 'AFC CASH_BOUNCE', 'AFC',
       'AFC CASH_BOUNCE CHEQUE_BOUNCE', 'CHEQUE_BOUNCE', 'CASH_BOUNCE'],
      dtype=object)

In [65]:
hist_ddf.loc[hist_ddf['TOTAL_CHARGE'] <= 20000].plot.hist()

AGMTNO          71
CHARGES_HEAD    71
CLOSING_DUE     71
TOTAL_CHARGE    71
dtype: int64

fig = plt.figure(figsize = (17,8))
ax = fig.gca()

hist_ddf.loc[(hist_ddf['TOTAL_CHARGE'] > 0) & (hist_ddf['TOTAL_CHARGE'] <= 20000) & (hist_ddf['CHARGES_HEAD'] == 'AFC CASH_BOUNCE CHEQUE_BOUNCE')].plot.hist(ax=ax, bins=20, title='AFC CASH_BOUNCE CHEQUE_BOUNCE')
plt.show()

for k in hist_ddf.CHARGES_HEAD.unique(): 
    fig = plt.figure(figsize = (17,8))
    ax = fig.gca()

    ax = hist_ddf.loc[(hist_ddf['TOTAL_CHARGE'] > 0) & (hist_ddf['TOTAL_CHARGE'] <= 20000) & (hist_ddf['CHARGES_HEAD'] == k)].plot.hist(ax=ax, bins=20, title=k)
    ax.title.set_size(20)
    for p in ax.patches:
        ax.annotate('{}'.format(format_number(int(p.get_height()))), (p.get_x(), p.get_height()), fontsize=13, fontweight='bold')
    plt.savefig('D:/SAMS/Plot/'+k+'.png')
    plt.show()

AGMTNO          108 = negative value
AGMTNO          351 = zero
AGMTNO          12620 = greater than 10k
AGMTNO          1016  = greater than 15k
AGMTNO          570 = greater than 16k 
AGMTNO          71 = greate than 20k