In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

pd.set_option('display.max_columns', 500)
pd.set_option('display.max_rows', 1000)

In [2]:
data = pd.read_csv(r"trivago_data_analysis_case_study_part1.csv")

In [6]:
data.head()

,item_id,impressions,clicks,clicked_displayed_positions,avg_impressed_position,num_users,num_sessions
0,5040,40,5,20;9;12;10;12,11.83,22,23
1,5053,83,3,2;3;0,7.88,43,52
2,5094,54,6,0;0;0;2;1;2,4.72,30,36
3,5101,30,2,5;3,4.97,17,20
4,5105,24,1,18,9.08,8,11

In the resources section, you will find trivago_data_analysis_case_study_part_1.csv 

with information about items (hotels). 

Each row displays for each item, it's id, 

number of times it was displayed (impressions), 

number of click-outs (clicks), 

set of clicked displayed positions (0=first position), 

average impressed position, 

number of users and sessions with at least one impression. 

Only clicks and impressions from the first page results are considered.

In [7]:
def get_unique(df):
    cols = df.columns
    for i in cols:
        print("{}              {}".format(i,len(df[i].unique())))

In [8]:
get_unique(data)

item_id              130056
impressions              4254
clicks              673
clicked_displayed_positions              54937
avg_impressed_position              2102
num_users              3112
num_sessions              3371

In [9]:
data['CTR'] = (data['clicks']/data['impressions'])*100

In [10]:
data['CTR'].mean()

11.45570598949831

In [13]:
dict_cdp = dict()

In [18]:
for i in 'u e t r o r'.split(' '):
    print(i)

u
e
t
r
o
r

In [25]:
for _ in data['clicked_displayed_positions']:
    for i in _.split(';'):
        try:
            dict_cdp[i] = dict_cdp[i]+1
        except:
            dict_cdp[i] = 1

In [54]:
s = pd.Series(dict_cdp)

In [38]:
s.index.name = 'Positions'

In [59]:
df = pd.DataFrame(s).reset_index()
df.columns = ['Positions', 'Clicks_Count']
df.sort_values(by='Clicks_Count')

   Positions  Clicks_Count
22        23         13241
23        22         13453
18        21         14597
0         20         15138
17        24         15824
20        19         16142
9         18         17636
25        17         19110
24        16         20244
21        15         22707
13        14         23678
15        13         25783
2         12         29396
16        11         31631
3         10         35135
1          9         39757
12         8         43564
19         7         49122
10         6         57308
8          5         66362
14         4         78928
5          3         97319
4          2        126804
11       -11        134287
7          1        189941
6          0        480310

In [61]:
df['Clicks_Count'].sum()/2

838708.5