In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

pd.set_option('display.max_columns', 500)
pd.set_option('display.max_rows', 1000)

In [2]:
data = pd.read_csv(r"trivago_data_analysis_case_study_part1.csv")

Describe the relationship between the average displayed position and the clicked displayed position

clicked displayed position: It denotes at which impression position the Ad was clicked 

average displayed position or avg_impressed_position : on an average at which position the Ad is impressed or displayed.

In [6]:
data.head()

,item_id,impressions,clicks,clicked_displayed_positions,avg_impressed_position,num_users,num_sessions
0,5040,40,5,20;9;12;10;12,11.83,22,23
1,5053,83,3,2;3;0,7.88,43,52
2,5094,54,6,0;0;0;2;1;2,4.72,30,36
3,5101,30,2,5;3,4.97,17,20
4,5105,24,1,18,9.08,8,11

In the resources section, you will find trivago_data_analysis_case_study_part_1.csv 

with information about items (hotels). 

Each row displays for each item, it's id, 

number of times it was displayed (impressions), 

number of click-outs (clicks), 

set of clicked displayed positions (0=first position), 

average impressed position, 

number of users and sessions with at least one impression. 

Only clicks and impressions from the first page results are considered.

In [7]:
def get_unique(df):
    cols = df.columns
    for i in cols:
        print("{}              {}".format(i,len(df[i].unique())))

In [8]:
get_unique(data)

item_id              130056
impressions              4254
clicks              673
clicked_displayed_positions              54937
avg_impressed_position              2102
num_users              3112
num_sessions              3371

In [9]:
data['CTR'] = (data['clicks']/data['impressions'])*100

In [10]:
data['CTR'].mean()

11.45570598949831

In [13]:
dict_cdp = dict()

In [18]:
for i in 'u e t r o r'.split(' '):
    print(i)

u
e
t
r
o
r

In [25]:
for _ in data['clicked_displayed_positions']:
    for i in _.split(';'):
        try:
            dict_cdp[i] = dict_cdp[i]+1
        except:
            dict_cdp[i] = 1

In [54]:
s = pd.Series(dict_cdp)

In [38]:
s.index.name = 'Positions'

In [63]:
df = pd.DataFrame(s).reset_index()
df.columns = ['Positions', 'Clicks_Count']
df.sort_values(by='Clicks_Count')

   Positions  Clicks_Count
22        23         13241
23        22         13453
18        21         14597
0         20         15138
17        24         15824
20        19         16142
9         18         17636
25        17         19110
24        16         20244
21        15         22707
13        14         23678
15        13         25783
2         12         29396
16        11         31631
3         10         35135
1          9         39757
12         8         43564
19         7         49122
10         6         57308
8          5         66362
14         4         78928
5          3         97319
4          2        126804
11       -11        134287
7          1        189941
6          0        480310

In [61]:
df['Clicks_Count'].sum()/2

838708.5

In [73]:
counter = 0
cnt = 0
for i in df.sort_values(by='Clicks_Count', ascending = False)['Clicks_Count']:
    if counter < 838708.5:
        counter = counter + i
        cnt = cnt+1
    else:
        break
        
print(counter)
print("at position {}".format(cnt))

931342
at position 4

Question 4:  Instead of going with average to get average displayed position using mode to get the frequency is the best approach suitable for this kinda of occurrence analysis

In [74]:
data2 = pd.read_csv(r"trivago_data_analysis_case_study_part2.csv")

C:\Users\5029874\AppData\Local\Continuum\anaconda3\envs\trainingenv\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [75]:
data2.head()

,user_id,session_id,clicked_item_id,displayed_position,page_num,sort_order,search_type,path_id,arrival_days,departure_days,traffic_type,impressed_item_ids
0,6216730024127027591,3.755630e+18,3390592.0,-11.0,0.0,12.0,2113.0,39693.0,3.0,4.0,2.0,128992;127920;132177;1107164;19389;3217646;123...
1,3540322805835307689,4.581411e+18,2393900.0,6.0,0.0,21.0,2113.0,35009.0,21.0,22.0,2.0,5169438;997421;76994;1376364;67654;68977;23939...
2,5439210126639293380,7.260244e+18,8285.0,0.0,0.0,12.0,2116.0,34390.0,301.0,302.0,2.0,8285;8284;78562;8243;1288434;61564;60293;15334...
3,3482625725900275142,3.013037e+18,148308.0,6.0,0.0,41.0,2113.0,41579.0,39.0,42.0,3.0,2196706;46431;1262783;148312;1478421;6171546;1...
4,6185636196804664137,1.463579e+18,4527530.0,0.0,0.0,12.0,2116.0,85724.0,48.0,49.0,2.0,4527530;149339;945921;1236133;1259540;1700445;...

In [76]:
get_unique(data2)

user_id              763390
session_id              1032518
clicked_item_id              145284
displayed_position              27
page_num              22
sort_order              12
search_type              7
path_id              15138
arrival_days              519
departure_days              520
traffic_type              4
impressed_item_ids               1396315

In [77]:
data2.count()

user_id                1903796
session_id             1903795
clicked_item_id        1903795
displayed_position     1903795
page_num               1903795
sort_order             1903795
search_type            1903795
path_id                1903795
arrival_days           1903795
departure_days         1903795
traffic_type           1903795
impressed_item_ids     1903795
dtype: int64

In [87]:
data2['diff'] = data2['departure_days'] - data2['arrival_days']

In [88]:
mode_df = data2.mode()

In [89]:
mode_df

,user_id,session_id,clicked_item_id,displayed_position,page_num,sort_order,search_type,path_id,arrival_days,departure_days,traffic_type,impressed_item_ids,diff
0,4509866267912745159,5.009065e+18,2834772.0,0.0,0.0,12.0,2113.0,38715.0,0.0,4.0,2.0,1455251;40899;4995818;40887;15854;40928;228246...,1.0

In [90]:
for i, j in mode_df.iterrows(): 
    print(i, j) 
    print()

0 user_id                                              4509866267912745159
session_id                                                   5.00907e+18
clicked_item_id                                              2.83477e+06
displayed_position                                                     0
page_num                                                               0
sort_order                                                            12
search_type                                                         2113
path_id                                                            38715
arrival_days                                                           0
departure_days                                                         4
traffic_type                                                           2
impressed_item_ids     1455251;40899;4995818;40887;15854;40928;228246...
diff                                                                   1
Name: 0, dtype: object

In [94]:
mode_df.to_csv("mode_elements.csv")