In [47]:
import pandas as pd
import cx_Oracle
pd.set_option('display.max_columns', None)

In [3]:
ip = '172.16.80.74'
port = '1521'
SID = 'RPTDB'

dsn_tns = cx_Oracle.makedsn(ip, port, SID)
connection = cx_Oracle.connect('ANLYUSR', 'ANLYUSR$', dsn_tns, encoding='iso-8859-1')

In [4]:
query = "SELECT AGREEMENTNUMBER, sum(exist) IS_EXIST FROM \
(SELECT AGREEMENTNUMBER,CASE \
WHEN AGREEMENTNUMBER = LOAN_ACCOUNT_NUMBER THEN \
0 \
ELSE 1 END as exist, \
LOAN_ACCOUNT_NUMBER \
FROM BIUSR.TBL_TRN_CIBIL_TL_DETAILS \
WHERE SECTOR != 'NOT DISCLOSED' \
AND SUBSTR(AGREEMENTNUMBER,7,2) = 'CD') \
GROUP BY AGREEMENTNUMBER"

In [5]:
Data = pd.read_sql(query, con=connection, chunksize=40000)

In [6]:
data = pd.concat([chunk for chunk in Data])

In [17]:
data.columns = ['AGMTNO', 'IS_EXIST']

In [18]:
data.head()

            AGMTNO  IS_EXIST
0  AP3019CD0000001         1
1  AP3019CD0000002         0
2  AP3019CD0000003         0
3  AP3019CD0000005         0
4  AP3019CD0000006         0

In [8]:
data.to_csv("D:\CD\Existing_customer.csv")

In [49]:
data = pd.read_csv("D:\CD\EXCISTING_CUST.csv")

In [55]:
data.columns = ['AGMTNO', 'IS_EXIST']

In [56]:
data.count()

AGMTNO      481920
IS_EXIST    481920
dtype: int64

In [57]:
data.loc[data['IS_EXIST'] == 0].count()

AGMTNO      461327
IS_EXIST    461327
dtype: int64

In [58]:
data.loc[data['IS_EXIST'] != 0].count()

AGMTNO      20593
IS_EXIST    20593
dtype: int64

In [59]:
(453296/481920)*100 # NEW Customer

94.06042496679947

In [60]:
(28624/481920)*100 # Existing Customer

5.939575033200531

In [61]:
(20619/481920)*100 # Existing Customer

4.278510956175299

In [62]:
data1 = pd.read_csv("D:/CD/CD_Variable_all_27_06.csv")

In [63]:
data_exist = pd.merge(data1, data, on=['AGMTNO'], how='left')

In [64]:
data_exist = data_exist.iloc[:,1:]
data_exist.head()

,AGMTNO,PROPNO,PREPAIDPOSTPAIDFLAG,LTV,ACTUAL_LOAN_AMOUNT,LATESTBALANCE,ELIGIBILITYGRID,IS_MOBILE,Mobile_Bill_bin,IS_CIBIL_HIT,PRODUCT_CODE,CITY,SCHEME_TYPE,RESIDENT_TYPE,SURROGATE_CAT,AGE,GENDER,QUALIFICATION,TICKET_SIZE,CROSS_SELL_INSURANCE,DEALER_CUST_CITY,AGE_BIN,CIBIL_SCORE_NEW_BIN,Actual_TAT_Days,Disp_Month_bin,IS_WEEKEND,VOTERID,PANNO,DRIVING_LICENSE,PASSPORT,AADHAR,RATION,STATE,IS_MANDATE_REGISTERED,City_Group,PROD_GROUP,IS_EXIST
0,WB3078CD0009160,3078CD0009160,0,68.18,32611,190758.16,NaN,0,0,1,TV,Jalpaiguri,CDOEM,OWNED,0,32,MALE,SSC,10,0,1,5.0,1.0,1,1,0,N,Y,N,N,Y,N,WB,0,1.0,1,0.0
1,WB3078CD0006318,3078CD0006318,0,77.77,17032,NaN,5.0,0,0,1,TV,Jalpaiguri,CDOEM,OWNED,0,35,MALE,GRADUATE,8,0,1,6.0,6.0,5,1,0,N,N,N,N,Y,N,WB,0,1.0,1,0.0
2,WB3078CD0007026,3078CD0007026,0,74.66,18664,29890.58,NaN,0,0,1,TV,Jalpaiguri,CDOEM,OWNED,0,34,MALE,UNDER GRADUATE,8,0,1,6.0,7.0,2,1,0,N,N,N,N,Y,N,WB,0,1.0,1,0.0
3,WB3078CD0040195,3078CD0040195,0,77.78,37332,188925.04,16.0,0,0,1,TV,Jalpaiguri,CDSPL,OWNED,0,53,MALE,GRADUATE,10,1,0,9.0,1.0,8,1,0,N,N,N,N,Y,N,WB,0,1.0,1,0.0
4,WB3078CD0006403,3078CD0006403,0,77.77,31108,3270.44,22.0,0,0,1,TV,Jalpaiguri,CDOEM,OWNED,0,50,MALE,GRADUATE,10,0,1,9.0,8.0,1,1,1,N,N,N,N,Y,N,WB,0,1.0,1,0.0

In [66]:
def mark_exit_cust(row):
    try:
        if row['IS_EXIST'] > 0:
            return 1
        else:
            return 0
    except:
        return -9999

In [67]:
data_exist["IS_EXIST"] = data_exist.apply(mark_exit_cust, axis=1)

In [69]:
data_exist.to_csv("D:/CD/CD_Variable_all_28_06_existing_till_Jan_v2.csv")

In [68]:
data_exist.IS_EXIST.unique()

array([0, 1], dtype=int64)