In [8]:
import pandas as pd
import numpy as np
import cx_Oracle
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_rows', 1000)

In [9]:
ip = '172.16.80.74'
port = '1521'
SID = 'RPTDB'

dsn_tns = cx_Oracle.makedsn(ip, port, SID)
connection = cx_Oracle.connect('ANLYUSR', 'ANLYUSR$', dsn_tns, encoding='iso-8859-1')

In [12]:
query = "with tb1 as (SELECT AGREEMENTNUMBER, DATE_OPENED, LOAN_ACCOUNT_NUMBER, LOAN_STATUS, \
LOAN_TYPE FROM BIUSR.TBL_TRN_CIBIL_TL_DETAILS \
WHERE SECTOR != 'NOT DISCLOSED' \
AND SUBSTR(AGREEMENTNUMBER,7,2) = 'CD') \
SELECT DATE_OPENED, LOAN_ACCOUNT_NUMBER, LOAN_STATUS, LOAN_TYPE, IDENT, DENSE_RANK() over (ORDER BY IDENT) as USER_ID \
FROM \
(select DATE_OPENED, LOAN_ACCOUNT_NUMBER, LOAN_STATUS, LOAN_TYPE, \
LISTAGG(AGREEMENTNUMBER, ',') WITHIN GROUP (ORDER BY AGREEMENTNUMBER) as IDENT \
FROM tb1 \
GROUP BY DATE_OPENED, LOAN_ACCOUNT_NUMBER, LOAN_STATUS, LOAN_TYPE) \
ORDER BY USER_ID DESC"

In [13]:
Data = pd.read_sql(query, con=connection, chunksize=40000)

In [14]:
data = pd.concat([chunk for chunk in Data])

In [20]:
data.head()

,DATE_OPENED,LOAN_ACCOUNT_NUMBER,LOAN_STATUS,LOAN_TYPE,IDENT,USER_ID,Portfolio
0,2019-02-28,WB3078CD0129159,Live,Consumer Loan,WB3078CD0129159,474281,CD
1,2019-02-28,WB3078CD0129147,Live,Consumer Loan,WB3078CD0129147,474280,CD
2,2019-02-28,WB3078CD0129108,Live,Consumer Loan,WB3078CD0129108,474279,CD
3,2019-02-28,WB3078CD0129106,Live,Consumer Loan,WB3078CD0129106,474278,CD
4,2019-02-28,WB3078CD0129096,Live,Consumer Loan,WB3078CD0129096,474277,CD

In [19]:
data['Portfolio'] = data['LOAN_ACCOUNT_NUMBER'].apply(lambda x: x[6:8])

In [27]:
data1 = data.sort_values(by=['USER_ID','DATE_OPENED'])
data1['rnk'] = data1.groupby('USER_ID')['DATE_OPENED'].rank(ascending=True,method='dense')

In [56]:
def markexist(row):
    if row['Portfolio'] == 'CD' and row['rnk'] > 1:
        return 'Existing_CD'
    elif row['Portfolio'] != 'CD' and row['rnk'] > 1:
        return 'Existing_Not_CD'
    elif row['Portfolio'] == 'CD' and row['rnk'] == 1:
        return 'New'
    elif row['Portfolio'] != 'CD' and row['rnk'] == 1:
        return 'New_not_CD'

In [57]:
data1['Existing_New'] = data1.apply(markexist, axis=1)

In [58]:
data1.head()

,DATE_OPENED,LOAN_ACCOUNT_NUMBER,LOAN_STATUS,LOAN_TYPE,IDENT,USER_ID,Portfolio,rnk,Existing_New
17998,2018-05-19,AP3019CD0000001,Closed,Consumer Loan,"AP3019CD0000001,AP3019CD0013766",1,CD,1.0,New
17999,2018-11-27,AP3019CD0013766,Live,Consumer Loan,"AP3019CD0000001,AP3019CD0013766",1,CD,2.0,Existing_CD
17997,2018-05-29,AP3019CD0000002,Closed,Consumer Loan,AP3019CD0000002,2,CD,1.0,New
17996,2018-06-18,AP3019CD0000003,Live,Consumer Loan,AP3019CD0000003,3,CD,1.0,New
17995,2018-05-23,AP3019CD0000005,Closed,Consumer Loan,AP3019CD0000005,4,CD,1.0,New

In [59]:
data1.rnk.unique()

array([1., 2., 3., 4., 5., 6., 7., 8.])

In [60]:
data1 = data1.loc[data1['Portfolio'].isin(['AP','CD', 'TW', 'UT', 'CA', 'CT', 'UV', 'LT', 'LN', 'AL', 'TR', 'RC', 'RT'])]

In [61]:
data1.to_csv("D:/CD/CD_Existing_Cust_v4.csv")

In [ ]:
def markbefore(row):
    if row['Portfolio'] == 'CD' and row['Existing_New'] == 'New':
        return 'Current'
    elif

In [ ]:
data1['before_after'] = data1.apply